{% extends "eos_listings_details_commercial_new_development.html" %}

{% block comm-dev-for-sale %}
<!-- PHOTO GALLERY -->
<div class="column last width377 margin-top20 print-hide">
    <div class="column last headings">PHOTO GALLERY</div>
    <div id="photo-gallery" class="column last photo-gallery-bg print-hide">
        {% include 'includes/eos_listings_details_photo_gallery.html' %}   
    </div>
</div>    
<!-- // PHOTO GALLERY -->

<!-- PROPERTY DETAILS -->
<div class="columnRight width460 margin-top20 print-hide">
    <div class="column last headings">PROPERTY DETAILS</div>
    <div id="property-details" class="columnRight span-29 last">
        <div id="property-details-bg" class="column property-details-bg print-hide"><!-- This div is closed in the include -->
            {% include 'includes/eos_listings_details_property_details_new_development.html' %}
    </div>
</div>    
<!-- // PROPERTY DETAILS -->

<!-- NEW DEVELOPMENT BANNERS --> 
    <div id="new-dev-banners" class="column last margin-top20 print-hide">
        {% include 'includes/eos_listings_details_new_development_banners.html' %}
    </div>
<!-- // END NEW DEVELOPMENT BANNERS --> 

<!-- NOTES -->
<div class="columnRight width460 margin-top30 print-hide">
    <div class="column last headings">NOTES</div>    
    <div id="notes-bg-top" class="columnRight notes-bg print-hide">
        {% include 'includes/eos_listings_details_notes.html' %}
    </div>
</div>    
<!-- -->

<!-- KEY FEATURES / AMENITIES -->
<div class="column last width377 margin-top30 print-hide">
    <div class="column last headings">KEY FEATURES / AMENITIES</div>    
    <div id="property-features-holiday-letting" class="column property-features-bg print-hide last">
        {% ifequal listing.get_main_type 'NewDevelopment' %}
            <div class="column last">
                <ul class="bullets3">{{ listing.key_features|safe }}</ul>
            </div>
        {% endifequal %}
    </div>
</div>    
<!-- // KEY FEATURES / AMENITIES -->

<!-- NEW DEVELOPMENT PROFILE -->
<div class="column last span-887 margin-top30 print-hide">
    <div class="column last headings">NEW DEVELOPMENT PROFILE</div>     
    <div id="new-dev-profile" class="column last downloads-bg  print-hide">
        <div class="column last">
            <div class="column last"> {{ listing.development_profile|linebreaksbr }} </div>
        </div>
    </div>
</div>    
<!-- // NEW DEVELOPMENT PROFILE -->

{% if listing.progresstrackergallery_set.values %}
<!-- PROGRESS TRACKER IMAGES -->
<div class="column last span-887 margin-top30 print-hide">
    <div class="column last headings">PROGRESS TRACKER GALLERY</div>    
     <div id="new-dev-profile" class="column last downloads-bg print-hide">
         <div class="column last">
             <span>
                 {% for image in listing.progresstrackergallery_set.values %}
                    <div style="float:left; padding:10px 20px 0px 0px;">
                    <a href="/resize/640/480/{{ image.image }}" rel="gallerypg.{{ listing.id }}" alt="{{ image.date_added }}{% if image.caption %} - {{ image.caption }}{% endif %}" title="{{ image.date_added|default:"" }}{% if image.caption %} - {{ image.caption }}{% endif %}"><img src="/resize/150/100/{{ image.image }}" /></a><span style="margin-left:38px; margin-top:20px;" class="breadcrumbs-light">{{ image.date_added|default:"" }}
                    </span>
                    </div>
                 {% endfor %}
             </span>
         </div>
     </div>
</div>    
{% endif %}
<!-- // -->    
    
<!-- MAKE AN OFFER --> 
{% if make_an_offer_form %}
<div class="column last span-887 margin-top30 print-hide">
    <div class="column last headings">MAKE AN OFFER</div>    
    <div class="column last make-an-offer-bg print-hide"> <!-- closed in the include -->
        <div class="column last margin-bottom10"> <!-- closed in the include -->
			{% include 'includes/eos_listings_details_make_offer.html' %}
</div>
{% endif %} 
<!-- // MAKE AN OFFER -->

<!-- PROPERTY FINANCE -->
{% if show_calculators %}
<div class="column last span-887 margin-top30 print-hide">
    <div class="column last headings">PROPERTY FINANCE</div>        
    <div id="property-finance" class="column last property-finance-bg print-hide">
       {% include 'includes/eos_listings_details_calculators.html' %}
    </div>
</div>    
{% endif %}
<!-- // PROPERTY FINANCE -->

<!-- ON SHOW -->
{% if listing.on_show %}
<div class="column last span-887 margin-top30 print-hide">
    <div class="column last headings">ON SHOW</div>        
    <div id="on-show" class="column last on-show-bg print-hide">
        {% include 'includes/eos_listings_details_on_show.html' %}
    </div>
</div>    
{% endif %}
<!-- // ON SHOW -->
 
<!-- NEW DEVELOPMENT DOWNLOADS --> 
    {% if listing.newdevelopmentdocument_set.values %}
    <div class="column last span-887 margin-top30 print-hide">
        <div class="column last headings">DOWNLOADS</div>     
        <div id="downloads" class="column last downloads-bg  print-hide">
            <div class="column last">
                {% include 'includes/eos_listings_details_downloads.html' %}
        </div>        
    {% endif %}
<!-- // NEW DEVELOPMENT DOWNLOADS -->

<!-- FEATURED --> 
{% ifequal listing.get_main_type 'NewDevelopment' %}
    <div id="new-dev-fratured-for-sale" class="column last print-hide margin-top20 span-31">
        
        <!-- Featured for sale --> 
        {% if featured_for_sale_listings %}
            {% for listing in featured_for_sale_listings %}
            <div class="{% cycle column,columnRight %} margin-top20 width419">
                <div class="column last headings margin-bottom10">FEATURED {% ifequal listing.listing_type 'Holiday Letting' %}Holiday {% endifequal %}{{ listing.property_type|upper }} {{ listing.listing_type|cut:"Residential"|cut:"Commercial"|cut:"Holiday Letting"|upper }}</div>
                <div class="featured-property-bg">
					{% include 'includes/eos_listings_details_new_dev_for_sale.html' %}
            </div>        
            {% endfor %}
        {% endif %}
        <!-- // Featured for sale -->
                
        <!-- Featured to let --> 
        {% if featured_to_let_listings %}
            {% for listing in featured_to_let_listings %}
                <div class="{% if not featured_for_sale_listings %}{% cycle column,columnRight %}{% else %}columnRight{% endif %} margin-top20 width419">
                    <div class="column last headings margin-bottom10">FEATURED {% ifequal listing.listing_type 'Holiday Letting' %}Holiday {% endifequal %}{{ listing.property_type|upper }} {{ listing.listing_type|cut:"Residential"|cut:"Commercial"|cut:"Holiday Letting"|upper }}</div>
                    <div class="featured-property-bg">
					{% include 'includes/eos_listings_details_new_dev_to_let.html' %}
                </div>        
            {% endfor %}
        {% endif %}
        <!-- /Featured To Let -->
                        
    </div>
{% endifequal %}
<!-- // FEATURED -->

<!-- BOOKING ENQUIRIES / APPOINTMENT TO VIEW -->
<div class="columnRight width460 margin-top30 margin-bottom30 print-hide">
    <div class="column last headings">MAKE AN ENQUIRY</div>                
    <div class="columnRight margin-top20 appointment-bg print-hide">
        <form name="enquiry_form" id="id_enquiry_form" method="post" action="#id_enquiry_form">
            {% csrf_token %}
            {% include 'includes/eos_listings_details_appointment_bookings.html' %}
        </form>
    </div>
</div>    
<!-- // BOOKING ENQUIRIES / APPOINTMENT TO VIEW -->

<!-- CONTACT THE AGENT -->
<div class="column last width377 margin-top30 margin-bottom30 print-hide">
    <div class="column last headings">CONTACT THE AGENT</div>                 
    <div class="column contact-bg print-hide last">
        {% include 'includes/eos_listings_details_contact_agent.html' %}
    </div>
</div>
<!-- // CONTACT THE AGENT --> 

<div class="column font-size11 border-top1 span-22 print-hide last"> {% include 'includes/eos_listings_details_navigation.html' %} </div>
<div class="column margin-top10 print-hide last span-22">
    <p class="font-size11 breadcrumbs-light"><b>Disclaimer:</b> While every effort will be made to ensure that the information contained within the {{ site_url }} website is accurate and up to date, {{ site_name }} makes no warranty, representation or undertaking whether expressed or implied, nor do we assume any legal liability, whether direct or indirect, or responsibility for the accuracy, completeness, or usefulness of any information. Prospective purchasers and tenants should make their own enquiries to verify the information contained herein.</p>
</div>

{% endblock comm-dev-for-sale %}