<a href="#first-link" class="content-ad">
  <div class="icon-container">
    {% include 'includes/content-ads/icons/ad1.svg' %}
  </div>
  <div class="ad-content">
    <div class="content-container" style="padding-top: 0;">
      <div class="ad-title">
        Mortgage<br />Calculator
      </div>
      <div class="ad-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
  </div>
</a>
<a href="#first-link" class="content-ad">
  <div class="icon-container">
    {% include 'includes/content-ads/icons/ad2.svg' %}
  </div>
  <div class="ad-content">
    <div class="content-container" style="padding-top: 0;">
      <div class="ad-title">
        Seller's Guide
      </div>
      <div class="ad-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
  </div>
</a>
<a href="#first-link" class="content-ad">
  <div class="icon-container">
    {% include 'includes/content-ads/icons/ad3.svg' %}
  </div>
  <div class="ad-content">
    <div class="content-container" style="padding-top: 0;">
      <div class="ad-title">
        Subscribe to Seeff
      </div>
      <div class="ad-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
  </div>
</a>