/* Main Background
------------------------------------------------------------ */
body              { background-color:#FFFFFF;}
.container        { min-height:153px; width:100%;}
.heading-margin   { padding-left:25px;}



/* Header
------------------------------------------------------------ */
.header         { width:100%; margin:0 auto; height:90px; background-image:url(/assets/img/custom/layout/header-bg.jpg); background-repeat:repeat-x;}
.header-content { width:877px; margin:0 auto;}
.margin-top44   { margin-top:44px;} /* This changes according to the height of your logo, however if header is in flash, remove */



/* Navigation
------------------------------------------------------------ */
.menu-content                                { width:877px; margin:0 auto;}
.menu-borders                                { border-right:1px solid #CE0D1A; border-left:1px solid #9E0A16}
.menu                                        { width:100%; background-color:#AF0D18; margin:0 auto; height:36px; float:left;}
.menu ul                                     { margin:0 0 0 0; padding:0; list-style:none;}
.menu li                                     { display:inline; padding:0; float:left; }
.menu li                                     { float:left; position:relative; text-transform:uppercase; font-size:11px; font-weight:bold;}
.menu li a.general                           { color:#FFFFFF; padding-top:10px; padding-bottom:9px; display:block; border-left:1px solid #CE0D1A; border-right:1px solid #9E0A16; padding-left:17px; padding-right:16px; float:left;}
.menu a:hover.general                        { color:#FFFFFF; background-color:#990000;}
.menu a.active                               { color:#FFFFFF; padding-top:10px; padding-bottom:9px; display:block; border-left:1px solid #CE0D1A; border-right:1px solid #9E0A16; padding-left:17px; padding-right:16px; float:left;}
.menu a:hover.active                         { color:#FFFFFF; background-color:#990000;}
.menu a.active-rollover                      { color:#FFFFFF; padding-top:10px; padding-bottom:9px; display:block; border-left:1px solid #CE0D1A; border-right:1px solid #9E0A16; padding-left:17px; padding-right:16px; float:left; background-color:#990000;}
.menu ul ul                                  { visibility:hidden; position:absolute; height:0; top:36px; left:0; z-index:9999;}
.menu table                                  { position:absolute; top:0; left:0; border-collapse:collapse;}
.menu ul ul a, .menu ul ul a:visited         { color:#FFFFFF; background-color:#990000; height:23px; display:block; padding-left:17px; padding-right:16px;  padding-top:8px; border-bottom: 1px solid #AD3333;}
.menu ul ul a:hover, .menu ul ul a:hover     { color:#FFFFFF; background:#B0000D;}
.menu ul li:hover ul, .menu ul a:hover ul    { visibility:visible; }/* make the second level visible when hover on first level list OR link */
.menu ul :hover ul ul                        { visibility:hidden;}/* keep the third level hidden when you hover on first level list OR link */
.menu ul :hover ul :hover ul                 { visibility:visible;}/* make the third level visible when you hover over second level list OR link */



/* Width's Of Navigation Dropdowns
------------------------------------------------------------ */
.width64      { width:74px;}
.width130     { width:130px;}
.width146     { width:240px;}
.width180     { width:200px;}
.width200     { width:200px;}
.width210     { width:210px;}
.width213     { width:270px;}



/* Search
------------------------------------------------------------ */
.search                           { background:url(/assets/img/custom/layout/search.jpg); background-repeat:repeat-x; background-color:#CCCCCC; width:100%; float:left; padding-bottom:25px; padding-top:17px;}
.search-button                    { background-color:#09314E; border:1px solid #09314E; padding:2px; padding-right:3px; padding-left:3px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#FFF;}
.search-content                   { width:877px; margin:0 auto; float:none; font-size:11px; color:#666666;  padding-bottom:15px; padding-top:0px;}
#call-now                         { padding-left:10px;}

#appointmet-send, .form-style input   {border: none;!important;}



/* Headings
------------------------------------------------------------ */
h1                            { font-family:Arial, Helvetica, sans-serif; font-size:19px; color:#072E5F; font-weight:normal; }
h2                            { font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#072E5F; font-weight:bold; text-transform: uppercase;}
h3                            { font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#CF000F; font-weight:bold; margin-top:0px; padding-top:0px; margin-bottom:10px;}



/* text
------------------------------------------------------------ */
.breadcrumbs-dark             { color:#56646E;}
.breadcrumbs-light            { color:#8EA4B4;}
.quote                        { font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#AF0D18; } /* Slogan Text */



/* Links
------------------------------------------------------------ */
a:hover.more-info, a:hover.more-info2, a:hover.gallery, a:hover.favourites, a:hover.bookmark, a:hover.share, a:hover.favourites-remove, a:hover.brochure, a:hover.print, a:hover.email, a:hover.feed, a:hover.floor-plans, a:hover.virtual-tour, a:hover.video, a:hover.map-property, a:hover.add-property-favourites, a:hover.previous, a:hover.next { color: #072E5F;}
a.more-info, a.more-info2, a.gallery, a.favourites, a.bookmark, a.share, a.favourites-remove, a.brochure, a.print, a.email, a.feed, a.floor-plans, a.virtual-tour, a.video, a.map-property, a.add-property-favourites, a.previous, a.next { color: #C90D1B;}

a:focus, a:hover              { color: #072E5F; }
a                             { color: #C90D1B; text-decoration: none; }

a.homepage                    { background-image:url(/assets/img/custom/navigation/property-search.png); display:block; height:34px; width:146px;}
a:hover.homepage              { background-image:url(/assets/img/custom/navigation/property-search-over.png); display:block;}

a:hover.other                 { color: #666666; }
a.other                       { color: #666666; text-decoration: none; }

.blue a:hover                 { color: #C90D1B; }
.blue a                       { color: #072E5F; text-decoration: none; }

a:hover.news-heading-link     { color: #C90D1B; }
a.news-heading-link           { color: #000000; text-decoration: none; }

a:hover.image-border          { border:1px solid #8EA4B4; padding:1px;}
a.image-border                { border:1px solid #FFFFFF; padding:1px; display:block;}



/* Footer
------------------------------------------------------------ */
.footer-bg2                   { width:917px; color:#7A98B2; display:block; font-size:11px;}
.footer-content               { width:877px; margin:0 auto; margin-top:20px;  }
.footer-content h1            { color:#FFFFFF;}
.footer-content a             { color:#7A98B2;}
.footer-content a:hover       { color:#FFFFFF;}
.footer-float                 { width:100%; background: #5e6a70; background-position:top; float:left; }
.footer-float2                { width:917px; margin:0 auto; }
.footer-spacing-top           { margin-top:50px;}



/* Calculators
------------------------------------------------------------ */
.calctable input              { margin-left:5px; background-color:#09314E; border:1px solid #09314E; padding:2px; padding-right:3px; padding-left:3px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#FFF;}



/* Popups
------------------------------------------------------------ */
.search-button-popup          { background-color:#09314E; border:1px solid #09314E; padding:2px; margin-top:10px; padding-right:3px; padding-left:3px; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#FFF;}







/* Holiday letting
------------------------------------------------------------ */
.heading { font-family:Arial, Helvetica, sans-serif; font-size:19px; font-weight:normal; color:#013667; }



/* FACEBOOK
------------------------------------------------------------ */
.facebook-search                        {background: url(/assets/img/custom/facebook/search-icon.gif) no-repeat left #e90b7a; height:33px; line-height:33px;}
.facebook-search-container              {padding:17px 13px 16px 14px; background:#f2f2f2; width:470px; color:#545158;}
.padding-left-11                        {padding-left:11px;}
.padding-left-34                        {padding-left:34px;}
.facebook-heading                       {font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#FFFFFF;}
.padding-bottom-25                      {padding-bottom: 25px;}
ul.as-selections                        {background-color: #FFFFFF; border: 1px solid #809DB9; float: left; margin: 0; overflow: auto; width:550px;}
.facebook-listings                      {background: #56555b; height:33px; line-height:33px;}
.facebook-latest-listings-container     {padding:17px 13px 16px 14px; width:470px;}
.facebook-width120                      {width:120px;}
.facebook-width215                      {width:215px;}
.listed                                 {color:#666666;}
.facebook-brows-suburb                  {padding:17px 13px 16px 14px; width:215px;}
.call                                   {font-family:Arial, Helvetica, sans-serif; color:#000; font-size:15px;}
.facebook-more-info                     {background:url(/assets/img/custom/facebook/more-info.gif) no-repeat; width:52px; height:20px; padding-top:4px; padding-left:20px; font-size:11px; display:block; float:left; margin-right:5px;}
.facebook-map-property                  {background:url(/assets/img/custom/facebook/map-property.gif) no-repeat; width:71px; height:20px; padding-top:4px; padding-left:20px; font-size:11px; display:block; float:left;}



/* Padding / Margins
------------------------------------------------------------ */
.padding-left-11 {padding-left:11px;}
.padding-left-34 {padding-left:34px;}

.padding-bottom-25 { padding-bottom: 25px;}



/* Custom
------------------------------------------------------------ */
	/* START: Button Set 1 - Navigation */
	.bookmark {
	    background-image: url(/assets/img/custom/custom-theme/button-set-1/bookmark.jpg);
	    display: block; height: 24px; padding-left: 30px; padding-top: 5px; width: 57px;}

	.share {
	    background-image: url(/assets/img/custom/custom-theme/button-set-1/share.jpg);
	    display: block; height: 24px; padding-left: 30px; padding-top: 5px; width: 41px;}

	.feed {
	    background-image: url(/assets/img/custom/custom-theme/button-set-1/feed.jpg);
	    display: block; height: 24px; padding-left: 34px; padding-top: 5px; width: 37px;}

	.email {
	    background-image: url(/assets/img/custom/custom-theme/button-set-1/email.jpg);
	    display: block; height: 24px; padding-left: 30px; padding-top: 5px; width: 36px;}

	.print {
	    background-image: url(/assets/img/custom/custom-theme/button-set-1/print.jpg);
	    display: block; height: 24px; padding-left: 34px; padding-top: 5px; width: 32px;}

	.sort-by {
	    background-image: url(/assets/img/custom/custom-theme/button-set-1/sort-by.jpg);
	    height: 26px; margin-right: 5px; padding-left: 30px; padding-top: 4px; width: 180px;}

	.add-property-favourites {
	    background-image: url(/assets/img/custom/custom-theme/button-set-1/add-to-favourites.jpg);
	    display: block; height: 24px; padding-left: 34px; padding-top: 5px; width: 110px;}

	.quick-search {
	    background-image: url(/assets/img/custom/custom-theme/button-set-1/quicksearch-bg.jpg);
	    height: 26px; padding-left: 30px; padding-top: 4px; width: 280px;}

	.more-info2 {
	    background-image: url(/assets/img/custom/custom-theme/button-set-1/more-info2.jpg);
	    display: block; float: left; font-size: 11px; height: 21px; margin-right: 5px; margin-top: 5px; padding-left: 28px; padding-top: 4px; width: 55px;}
	/* END:  Button Set 1 - Navigation */



	/* START: Button Set 2 - Listings */
	.more-info {
	    background-image: url(/assets/img/custom/custom-theme/button-set-2/more-info.gif);
	    display: block; float: left; font-size: 11px; height: 20px; margin-right: 5px; padding-left: 20px; padding-top: 4px; width: 52px;}

	.gallery {
	    background-image: url(/assets/img/custom/custom-theme/button-set-2/gallery.gif);
	    display: block; float: left; font-size: 11px; height: 20px; margin-right: 5px; padding-left: 30px; padding-top: 4px; width: 41px; }

	.favourites {
	    background-image: url(/assets/img/custom/custom-theme/button-set-2/add-to-favourites.gif);
	    display: block; float: left; font-size: 11px; height: 20px; margin-right: 5px; padding-left: 27px; padding-top: 4px; width: 110px; }

	.favourites-remove {
	    background-image: url(/assets/img/custom/custom-theme/button-set-2/remove.gif);
	    display: block; float: left; font-size: 11px; height: 20px; margin-right: 5px; padding-left: 27px; padding-top: 4px; width: 44px; }

	.map-property {
	    background-image: url(/assets/img/custom/custom-theme/button-set-2/map-property.gif);
	    display: block; float: left; font-size: 11px; height: 20px; padding-left: 20px; padding-top: 4px; width: 71px; }

	.brochure {
	    background-image: url(/assets/img/custom/custom-theme/button-set-2/brochure.gif);
	    display: block; float: left; font-size: 11px; height: 20px; margin-right: 5px; padding-left: 28px; padding-top: 4px; width: 53px; }

	.floor-plans {
	    background-image: url(/assets/img/custom/custom-theme/button-set-2/floor-plans.gif);
	    display: block; float: left; font-size: 11px; height: 20px; margin-right: 5px; padding-left: 25px; padding-top: 4px; width: 58px; }

	.virtual-tour {
	    background-image: url(/assets/img/custom/custom-theme/button-set-2/virtual-tour.gif);
	    display: block; float: left; font-size: 11px; height: 20px; margin-right: 5px; padding-left: 24px; padding-top: 4px; width: 63px;}

	.video {
	    background-image: url(/assets/img/custom/custom-theme/button-set-2/video.gif);
	    display: block; float: left; font-size: 11px; height: 20px; margin-right: 5px; padding-left: 27px; padding-top: 4px; width: 34px;}

	.next {
	    background-image: url(/assets/img/custom/custom-theme/button-set-2/next.gif);
	    display: block; font-size: 11px; height: 20px; margin-top: 8px; padding-left: 15px; padding-top: 3px; width: 46px; }

	.previous {
	    background-image: url(/assets/img/custom/custom-theme/button-set-2/prev.gif);
	    display: block; font-size: 11px; height: 20px; margin-top: 8px; padding-left: 25px; padding-top: 3px; width: 36px;}
	/* END: Button Set 2 - Listings */



	/* START: Tabs */
	.main-property-nav {
	    background-image: url(/assets/img/custom/custom-theme/tabs/bg-tile.jpg);
	    background-repeat: repeat-x; height: 32px; margin-bottom: 10px; margin-top: 15px;}

	.search-results                   { background-image:url(/assets/img/custom/custom-theme/tabs/search-results-over.jpg); color:#C90D1B; display:block; width:104px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px;}
		a.search-results              { background-image:url(/assets/img/custom/custom-theme/tabs/search-results.jpg); color:#2B5084; display:block; width:104px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px;}
		a:hover.search-results        { background-image:url(/assets/img/custom/custom-theme/tabs/search-results-over.jpg); color:#C90D1B; }

	.map                              { background-image:url(/assets/img/custom/custom-theme/tabs/map-over.jpg); color:#C90D1B; display:block; width:37px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px;}
		a.map                         { background-image:url(/assets/img/custom/custom-theme/tabs/map.jpg); color:#2B5084; display:block; width:37px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px;}
		a:hover.map                   { background-image:url(/assets/img/custom/custom-theme/tabs/map-over.jpg); color:#C90D1B; }

	.details                          { background-image:url(/assets/img/custom/custom-theme/tabs/details-over.jpg); color:#C90D1B; display:block; width:50px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px;}
		a.details                     { background-image:url(/assets/img/custom/custom-theme/tabs/details.jpg); color:#2B5084; display:block; width:50px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px;}
		a:hover.details               { background-image:url(/assets/img/custom/custom-theme/tabs/details-over.jpg); color:#C90D1B; }

	.my-favourites                    { background-image:url(/assets/img/custom/custom-theme/tabs/favourites-over.jpg); color:#C90D1B; display:block; width:109px; height:25px; font-size:12px; font-weight:bold; padding-left:30px; padding-top:7px; float:left; margin-right:3px;}
		a.my-favourites               { background-image:url(/assets/img/custom/custom-theme/tabs/favourites.jpg); color:#2B5084; display:block; width:109px; height:25px; font-size:12px; font-weight:bold; padding-left:30px; padding-top:7px; float:left; margin-right:3px;}
		a:hover.my-favourites         { background-image:url(/assets/img/custom/custom-theme/tabs/favourites-over.jpg); color:#C90D1B;}

	.area-profile                     { background-image:url(/assets/img/custom/custom-theme/tabs/area-profile-over.jpg); color:#C90D1B; display:block; width:80px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px;}
		a.area-profile                { background-image:url(/assets/img/custom/custom-theme/tabs/area-profile.jpg); color:#2B5084; display:block; width:80px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px; }
		a:hover.area-profile          { background-image:url(/assets/img/custom/custom-theme/tabs/area-profile-over.jpg); color:#C90D1B; }

	.bond-transfer-cost               { background-image:url(/assets/img/custom/custom-theme/tabs/bond-transfer-cost-over.jpg); color:#C90D1B; display:block; width:195px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px;}
		a.bond-transfer-cost          { background-image:url(/assets/img/custom/custom-theme/tabs/bond-transfer-cost.jpg); color:#2B5084; display:block; width:195px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px;}
		a:hover.bond-transfer-cost    { background-image:url(/assets/img/custom/custom-theme/tabs/bond-transfer-cost-over.jpg); color:#C90D1B; }

	.bond-affordability               { background-image:url(/assets/img/custom/custom-theme/tabs/bond-affordability-over.jpg); color:#C90D1B; display:block; width:175px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px;}
		a.bond-affordability          { background-image:url(/assets/img/custom/custom-theme/tabs/bond-affordability.jpg); color:#2B5084; display:block; width:175px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px;}
		a:hover.bond-affordability    { background-image:url(/assets/img/custom/custom-theme/tabs/bond-affordability-over.jpg); color:#C90D1B;}

	.bond-repayment                   { background-image:url(/assets/img/custom/custom-theme/tabs/bond-repayment-over.jpg); color:#C90D1B; display:block; width:169px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px;}
		a.bond-repayment              { background-image:url(/assets/img/custom/custom-theme/tabs/bond-repayment.jpg); color:#2B5084; display:block; width:169px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px;}
		a:hover.bond-repayment        { background-image:url(/assets/img/custom/custom-theme/tabs/bond-repayment-over.jpg); color:#C90D1B;}

	.currency-converter               { background-image:url(/assets/img/custom/custom-theme/tabs/currency-converter-over.jpg); color:#C90D1B; display:block; width:128px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px;}
		a.currency-converter          { background-image:url(/assets/img/custom/custom-theme/tabs/currency-converter.jpg); color:#2B5084; display:block; width:128px; height:25px; font-size:12px; font-weight:bold; padding-left:15px; padding-top:7px; float:left; margin-right:3px; }
		a:hover.currency-converter    { background-image:url(/assets/img/custom/custom-theme/tabs/currency-converter-over.jpg); color:#C90D1B; }
	/* END: Tabs */



	/* START: Backgrounds */
		/* HOME */
			.featured-property-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/featured-property-body.jpg);
			    height: 266px; margin-bottom: 10px; padding: 5px 15px 15px; width: 389px; }

			.featured-news-top {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/news-bg-top.jpg);
			    background-repeat: no-repeat; padding: 6px 15px 0; width: 848px; }

			.featured-news-bottom {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/news-bg-bottom.jpg);
			    background-repeat: no-repeat; height: 47px; margin-bottom: 20px; margin-top: 0 !important; padding: 0 15px; width: 848px;}
		
		/* RESULTS */
			.on-show-main-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/on-show-bg.jpg);
			    height: 408px; margin-bottom: 30px; padding: 15px; width: 389px;}

			.property-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/property-bg.jpg);
			    height: 218px; margin-bottom: 30px; padding: 15px; width: 389px;}

		/* DETAILS */
			.photo-gallery-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/photo-gallery-bg.jpg);
			    height: 325px; padding: 6px 13px 13px; width: 351px;}

			.property-details-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/property-details-bg.jpg);
			    background-repeat: no-repeat; min-height: 270px; padding: 6px 13px 0; width: 435px;}

			.property-details-bottom-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/details-bottom-bg.jpg);
			    height: 55px; padding: 0 13px 13px; width: 435px;}

			.property-features-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/property-features-bg.jpg);
			    height: auto; margin-top: 20px; min-height: 213px; padding: 6px 13px 13px; width: 351px;}

			.property-features-holiday-letting-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/property-features-holiday-letting-bg.jpg);
			    height: 813px; margin-top: 20px; padding: 6px 13px 13px; width: 351px;}

			.notes-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/notes-bg.jpg);
			    height: 213px; margin-top: 20px; padding: 6px 13px 13px; width: 435px;}

			.make-an-offer-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/make-an-offer-bg.jpg);
			    height: 330px; margin-top: 20px; padding: 6px 13px 13px; width: 851px;}

			.property-finance-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/property-finance-bg.jpg);
			    height: 116px; margin-top: 20px; padding: 6px 13px 13px; width: 851px;}

			.on-show-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/on-show-bg-details.jpg);
			    height: 150px; margin-top: 20px; padding: 6px 13px 13px; width: 851px;}

			.contact-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/contact-bg.jpg);
			    height: 380px; margin-top: 20px; padding: 6px 13px 13px; width: 351px;}

			.contact-holiday-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/contact-holiday-bg.jpg);
			    height: 285px; margin-top: 20px; padding: 6px 13px 13px; width: 351px;}

			.appointment-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/appointment-bg.jpg);
			    height: 380px; margin-top: 20px; padding: 6px 13px 13px; width: 435px;}

			.appointment-holiday-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/appointment-bg-holiday-letting.jpg);
			    height: 590px; margin-top: 20px; padding: 6px 13px 13px; width: 435px;}

			.downloads-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/downloads-bg.jpg);
			    background-repeat: no-repeat; margin-top: 20px; min-height: 116px; padding: 6px 13px 0; width: 851px;}

		/* PROPERTY EMAIL ALERTS */
			.registration-bg-top {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/registration-bg-top.jpg);
			    background-repeat: no-repeat; padding: 5px 15px 0; width: 389px;}

			.registration-bg-bottom {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/registration-bg-bottom.jpg);
			    background-position: center bottom; background-repeat: no-repeat; margin-bottom: 10px; padding: 0 15px 15px; width: 389px;}

		/* AREA PROFILES */
			.area-summary {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/main-bg.jpg);
			    height: 190px; margin-bottom: 15px; margin-top: 5px; padding: 7px 15px 15px; width: 847px;}

			.area-map-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/map-bg.jpg);
			    height: 325px; padding: 6px 13px 13px; width: 435px;}

			.area-property-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/main-property-bg.jpg);
			    background-color: #E8E8E8; background-repeat: no-repeat; margin-top: 20px; min-height: 286px; padding-left: 13px; padding-right: 13px; padding-top: 6px; width: 851px;}

		/* NEWS */
			.summary-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/summary-bg.jpg);
			    height: 167px; padding: 6px 13px 13px; width: 394px;}

			.details-top-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/details-top-bg.jpg);
			    background-repeat: no-repeat; padding: 6px 13px 0; width: 851px;}

			.details-bottom-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/details-bottom-bg-news.jpg);
			    background-position: center bottom; background-repeat: no-repeat; height: 47px; padding: 13px 13px 0; width: 851px;}

			.comments-bottom-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/details-bottom-bg-news.jpg);
			    background-position: center bottom; background-repeat: no-repeat; height: 33px; padding: 13px 13px 0; width: 851px;}

			.comment-bg-bottom {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/comment-bottom.jpg);
			    background-position: center bottom; background-repeat: no-repeat; margin-bottom: 10px; padding: 0 15px 15px; width: 389px;}

		/* PAST NEWSLETTERS */
			.past-newsletters-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/past-newsletters-bg.jpg);
			    background-repeat: no-repeat; margin-bottom: 10px; padding: 5px 15px 0; width: 389px;}

			.news-bg-bottom {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/past-newsletters-bottom.jpg);
			    background-position: center bottom; background-repeat: no-repeat; margin-bottom: 10px; padding: 0 15px 15px; width: 389px;}

		/* AGENT SEARCH */
			.agent-bg {
			    background-image: url(/assets/img/custom/custom-theme/section-backgrounds/agent-bg.jpg);
			    height: 200px; padding: 6px 13px 13px; width: 394px;}

		/* CONTACT US */
			.company-gallery-bg {
			    background: url(/assets/img/custom/custom-theme/section-backgrounds/gallery-bg.jpg) repeat scroll 0 0 transparent;
			    height: 179px; margin-top: 20px; padding: 6px 13px 13px; width: 851px;}	
	/* END: Backgrounds */

	.heading-icon {position:relative; margin-top:-13px;}


