{% load humanize %}
{% load property_counts %}
<div id="footer-browse-links" class="column last span-22">
<b>Browse:</b>
<a href="/" >Home</a> | 
{% ifnotequal featured_properties 0 %}
<a href="/results/featured-properties/" >Featured Properties</a> | 
{% endifnotequal %}
{% ifnotequal on_show_count 0 %}
<a href="/results/on-show/" >On Show</a> | 
{% endifnotequal %}
{% ifnotequal residential_for_sale_count 0 %}
<a href="/results/residential/for-sale/" >Residential For Sale [{{ residential_for_sale_count }}]</a> | 
{% endifnotequal %}
{% ifnotequal residential_to_let_count 0 %}
<a href="/results/residential/to-let/" >Residential To Let [{{ residential_to_let_count }}]</a> | 
{% endifnotequal %}
{% ifnotequal commercial_for_sale_count 0 %}
{% if commercial_addon %}
<a href="/results/commercial/for-sale/" >Commercial For Sale [{{ commercial_for_sale_count }}]</a> | 
{% endif %}
{% endifnotequal %}
{% if commercial_addon %}
{% ifnotequal industrial_for_sale_count 0 %}
<a href="/results/industrial/for-sale/" >Industrial For Sale [{{ industrial_for_sale_count }}]</a> | 
{% endifnotequal %}
{% endif %}
{% if commercial_addon %}
{% ifnotequal retail_for_sale_count 0 %}
<a href="/results/retail/for-sale/" >Retail For Sale [{{ retail_for_sale_count }}]</a> | 
{% endifnotequal %}
{% endif %}
{% if commercial_addon %}
{% ifnotequal agricultural_for_sale_count 0 %}
<a href="/results/agricultural/for-sale/" >Agricultural For Sale [{{ agricultural_for_sale_count }}]</a> | 
{% endifnotequal %}
{% endif %}
{% ifnotequal commercial_to_let_count 0 %}
{% if commercial_addon %}
<a href="/results/commercial/to-let/" >Commercial To Let [{{ commercial_to_let_count }}]</a> | 
{% endif %}
{% endifnotequal %}
{% if commercial_addon %}
{% ifnotequal industrial_to_let_count 0 %}
<a href="/results/industrial/to-let/" >Industrial To Let [{{ industrial_to_let_count }}]</a> | 
{% endifnotequal %}
{% endif %}
{% if commercial_addon %}
{% ifnotequal retail_to_let_count 0 %}
<a href="/results/retail/to-let/" >Retail To Let [{{ retail_to_let_count }}]</a> | 
{% endifnotequal %}
{% endif %}
{% if commercial_addon %}
{% ifnotequal agricultural_to_let_count 0 %}
<a href="/results/agricultural/to-let/" >Agricultural To Let [{{ agricultural_to_let_count }}]</a> | 
{% endifnotequal %}
{% endif %}
{% ifnotequal residential_new_development_count 0 %}
{% if new_development_addon %}
<a href="/results/new-development/residential/" >Residential New Developments [{{ residential_new_development_count }}]</a> | 
{% endif %}
{% endifnotequal %}
{% if new_development_addon %}
{% ifnotequal residential_past_development_count 0 %}
<a href="/results/past-development/residential/" >Residential Past Developments [{{ residential_past_development_count }}]</a> | 
{% endifnotequal %}
{% endif %}
{% ifnotequal commercial_new_development_count 0 %}
{% if new_development_addon %}
<a href="/results/new-development/commercial/" >Commercial New Developments [{{ commercial_new_development_count }}]</a> | 
{% endif %}
{% endifnotequal %}
{% if new_development_addon %}
{% ifnotequal commercial_past_development_count 0 %}
<a href="/results/past-development/commercial/" >Commercial Past Developments [{{ commercial_past_development_count }}]</a> | 
{% endifnotequal %}
{% endif %}
{% ifnotequal vacant_land_count 0 %}
<a href="/results/vacant-land/" >Vacant Land [{{ vacant_land_count }}]</a> | 
{% endifnotequal %}
{% ifnotequal farm_and_small_holdings_count 0 %}
<a href="/results/farms-and-small-holdings/" >Farms &amp; Small Holdings [{{ farm_and_small_holdings_count }}]</a> | 
{% endifnotequal %}
{% ifnotequal holiday_letting_count 0 %}
{% if holiday_addon %}
<a href="/results/holiday/to-let/" >Holiday Letting [{{ holiday_letting_count }}]</a> | 
{% endif %}
{% endifnotequal %}
{% ifnotequal bank_reposessed_count 0 %}
{% if offers_addon %}
<a href="/results/bank-reposessed/" >Bank Reposessed [{{ bank_reposessed_count }}]</a> | 
{% endif %}
{% endifnotequal %}
{% ifnotequal distressed_count 0 %}
{% if offers_addon %}
<a href="/results/distressed/" >Distressed Sales [{{ distressed_count }}]</a> | 
{% endif %}
{% endifnotequal %}
{% ifnotequal tender_count 0 %}
<a href="/results/tenders/" >Tenders [{{ tender_count }}]</a> | 
{% endifnotequal %}
{% ifnotequal auctions_count 0 %}
<a href="/results/auctions/" >Auctions [{{ auctions_count }}]</a> | 
{% endifnotequal %}
{% if region_profiles_addon %}
<a href="/area-profiles/" >Area Profiles</a> | 
{% endif %}
{% ifnotequal student_accommodation_count 0 %}
<a href="/results/student-accommodation/" >Student Accommodation [{{ student_accommodation_count }}]</a> | 
{% endifnotequal %}
<a href="/property-email-alerts/" >Property Email Alerts</a> | 
{% if list_your_property_display %}
<a href="/list-your-property/" >List Your Property</a> | 
{% endif %}
<a href="/bond-transfer-cost-calculator/" >Calculators</a> | 
<a href="/news/" >Latest News</a> | 
{% if has_general_advice %}
<a href="/news/category/general-advice/" >General Advice</a> | 
{% endif %}
<a href="/newsletter/" >Email Newsletter</a> | 
<a href="/profile/" >Company Profile</a> | 
<a href="/agents/" >Agent Search</a> | 
{% load additional_pages %}
{% get_additional_pages %}
{% for page in additional_pages %}
{% if page.live %}
<a href="/{{ page.menu_slug }}/" >{{ page.menu_title }}</a> | 
{% endif %}
{% endfor %}
<a href="/contact/" >Contact Us</a> | 
<a href="/website-map/" >Website Map</a> | 
<a href="/useful-links/" >Links</a> | 
<a href="/privacy-policy/" >Privacy Policy</a>
</div>
