{% load humanize %}
{% load property_counts %}
<div id="footer-browse-links" class="column last span-22">
<b>Browse:</b>
<a href="/">Home</a> | 
{% set_property_count 'on-show' %}
{% ifnotequal on_show_count 0 %}
<a href="/results/on-show/">On Show</a> | 
{% endifnotequal %}
{% set_property_count 'residential-for-sale' %}
{% ifnotequal residential_for_sale_count 0 %}
<a href="/results/residential/for-sale/">Residential For Sale [{{ residential_for_sale_count }}]</a> | 
{% endifnotequal %}
{% set_property_count 'residential-to-let' %}
{% ifnotequal residential_to_let_count 0 %}
<a href="/results/residential/to-let/">Residential To Let [{{ residential_to_let_count }}]</a> | 
{% endifnotequal %}
{% set_property_count 'commercial-for-sale' %}
{% ifnotequal commercial_for_sale_count 0 %}
{% if commercial_addon %}
<a href="/results/commercial/for-sale/">Commercial For Sale [{{ commercial_for_sale_count }}]</a> | 
{% endif %}
{% endifnotequal %}
{% set_property_count 'commercial-to-let' %}
{% ifnotequal commercial_to_let_count 0 %}
{% if commercial_addon %}
<a href="/results/commercial/to-let/">Commercial To Let [{{ commercial_to_let_count }}]</a> | 
{% endif %}
{% endifnotequal %}
{% set_property_count 'residential-new-development' %}
{% ifnotequal residential_new_development_count 0 %}
{% if new_development_addon %}
<a href="/results/new-development/residential/">Residential New Developments [{{ residential_new_development_count }}]</a> | 
{% endif %}
{% endifnotequal %}
{% set_property_count 'commercial-new-development' %}
{% ifnotequal commercial_new_development_count 0 %}
{% if new_development_addon %}
<a href="/results/new-development/commercial/">Commercial New Developments [{{ commercial_new_development_count }}]</a> | 
{% endif %}
{% endifnotequal %}
{% set_property_count 'vacant-land' %}
{% ifnotequal vacant_land_count 0 %}
<a href="/results/vacant-land/">Vacant Land [{{ vacant_land_count }}]</a> | 
{% endifnotequal %}
{% set_property_count 'farm' %}
{% ifnotequal farm_and_small_holdings_count 0 %}
<a href="/results/farms-and-small-holdings/">Farms &amp; Small Holdings [{{ farm_and_small_holdings_count }}]</a> | 
{% endifnotequal %}
{% set_property_count 'holiday-letting' %}
{% ifnotequal holiday_letting_count 0 %}
{% if holiday_addon %}
<a href="/results/holiday/to-let/">Holiday Letting [{{ holiday_letting_count }}]</a> | 
{% endif %}
{% endifnotequal %}
{% set_property_count 'bank-reposessed' %}
{% ifnotequal bank_reposessed_count 0 %}
{% if offers_addon %}
<a href="/results/bank-reposessed/">Bank Reposessed [{{ bank_reposessed_count }}]</a> | 
{% endif %}
{% endifnotequal %}
{% set_property_count 'distressed' %}
{% ifnotequal distressed_count 0 %}
{% if offers_addon %}
<a href="/results/distressed/">Distressed Sales [{{ distressed_count }}]</a> | 
{% endif %}
{% endifnotequal %}
{% set_property_count 'tender' %}
{% ifnotequal tender_count 0 %}
<a href="/results/tenders/">Tenders [{{ tender_count }}]</a> | 
{% endifnotequal %}
{% set_property_count 'student-accommodation' %}
{% ifnotequal student_accommodation_count 0 %}
<a href="/results/student-accommodation/">Student Accommodation [{{ student_accommodation_count }}]</a> | 
{% endifnotequal %}
<a href="/property-email-alerts/">Property Email Alerts</a> | 
<a href="/bond-transfer-cost-calculator/">Calculators</a> | 
{% if region_profiles_addon %}
<a href="/area-profiles/">Area Profiles</a> | 
{% endif %}
{% if list_your_property_display %}
<a href="/list-your-property/">List Your Property</a> | 
{% endif %}
<a href="/news/">Latest News</a> | 
{% if has_general_advice %}
<a href="/news/category/general-advice/">General Advice</a> | 
{% endif %}
<a href="/newsletter/">Email Newsletter</a> | 
<a href="/profile/">Company Profile</a> | 
<a href="/agents/">Agent Search</a> | 
{% load additional_pages %}
{% get_additional_pages %}
{% for page in additional_pages %}
{% if page.live %}
<a href="/{{ page.menu_slug }}/">{{ page.menu_title }}</a> | 
{% endif %}
{% endfor %}
<a href="/contact/">Contact Us</a> | 
<a href="/website-map/">Website Map</a> | 
<a href="/useful-links/">Links</a> | 
<a href="/privacy-policy/">Privacy Policy</a>
</div>
