{% extends "eos_list_your_property.html" %}

{% block content %}
    <!-- Page Header -->
    <div id="list-your-property-breadcrumbs" class="column span-22 last border-bottom1">
        <div id="list-your-property-breadcrumbs-navigation">
            <p class="last font-size11"><span class="breadcrumbs-dark">You are here:</span> <span class="breadcrumbs-light"><a href="/" class="other">{{ site_name }}</a> / <a href="/list-your-property/" class="other">List Your Property</a></span></p>
        </div>
        <div id="list-your-property-breadcrumbs-heading">
        <h1 class="last">List Your Property</h1>
        </div>
    </div>

    <div class="column last span-22">
        <div class="column last"><p class="quote">Why list with {{ site_name }}?</p></div>
        <div class="columnRight">
            <div class="column last font-size11 append-2"><a href="javascript:bookmarksite(parent.window.document.title, parent.window.location)" title="Bookmark" class="bookmark">Bookmark</a></div>
            <div class="column font-size11 last"><a href="/bookmark-share/" rel="iframe" rev="width:257 height:219 scrolling:no" class="share">Share</a></div>
        </div>
    </div>


    <div id="list-property" class="column span-20 last margin-top20">
        {% if residential_addon %}
          <img src="/assets/img/custom/list-your-property/house.jpg" />
        {% else %}
          <img src="/assets/img/custom/list-your-property/house-commercial.jpg" />
        {% endif %}
        {% if seller_services %}
        <div id="list-property-seller" class="column span-20 last">
            <p>{{ seller_services.get.content|safe }}</p>
        </div>
        {% endif %}
        {% if landlord_services %}
        <div id="list-property-landlord" class="column span-20 last">
            <p>{{ landlord_services.get.content|safe }}</p>
        </div>
        {% endif %}
    </div>


    <div id="list-property-form" class="columnRight span-24 margin-top20">
        <div class="column last span-24 ">
        <div class="column last headings">{% if stock_for_sale %} SELLER {% if stock_to_rent %}{% endif %}{% endif %}{% if stock_to_rent %}LANDLORD {% endif %}REGISTRATION</div>
        <form method="POST"><!-- Cloesd in eos_list_your_property include -->
        <div class="column last registration-bg-top"><!-- Cloesd in eos_list_your_property include -->
            {% include 'includes/eos_list_your_property.html' %}
    </div>
            </div>
{% endblock content %}