{% extends "eos_contact_us.html" %}

{% block content %}
<div id="contact-breadcrumbs" class="column span-22 last border-bottom1">
    <div id="contact-breadcrumbs-navigation">
        <p class="last font-size11"><span class="breadcrumbs-dark">You are here:</span> <span class="breadcrumbs-light"><a href="/" class="other">{{ site_name }}</a> / <a href="/contact/" class="other">Contact Us</a></span></p>
    </div>
    <div id="contact-breadcrumbs-heading">
        <h1 class="last">Contact Us</h1>
    </div>
</div>
  
<!-- Quick Search -->
<div id="quick-search" class="column font-size11 span-22 border-bottom1 print-hide last">
    {% include 'includes/eos_contact_us_quick_search.html' %}
</div>
<!-- -->

<!-- Head Office Details -->
{% if head_office %}
{% for branch in head_office %}
<h1>Head Office</h1>
<div class="column last span-887 margin-top10 margin-bottom20">
    <div class="column last headings">
        {{ branch.branch_name|upper }}
               {% if branch.facebook_url %}
                <div id="id_branch_facebook_{{ branch.id }}" class="columnRight">
                    <div class="columnRight append-4">
                        <a href="{{ branch.facebook_url }}" target="_blank" class="facebook_button-icon2"></a>
                    </div>
                    <div class="columnRight last">
                        <a href="{{ branch.facebook_url }}" target="_blank" class="fb-link">Follow on Facebook</a>
                    </div>                    
                </div>
               {% endif %}
    </div>
    <div id="contact-details-head-office" class="column last company-gallery-bg">
        {% include 'includes/eos_contact_us_details.html' %}
    </div>
</div>    
  {% endfor %}
  <div class="column last span-22 margin-top30"></div>
{% endif %}
<!-- -->
<!-- Branch Details -->
{% regroup branch_list by province as branch_province_list %}
{% for branch_province in branch_province_list %}
	<h1>{{ branch_province.grouper }}</h1>		
	{% for branch in branch_province.list %}
<div class="column last span-887 margin-top10 margin-bottom20">
    <div class="column last headings">
        {{ branch.branch_name|upper }}
    				{% if facebook_addon %}
    					{% if branch.facebook_url %}
                <div id="id_branch_facebook_{{ branch.id }}" class="columnRight">
                    <div class="columnRight append-4">
                        <a href="{{ branch.facebook_url }}" target="_blank" class="facebook_button-icon2"></a>
                    </div>
                    <div class="columnRight last">
                        <a href="{{ branch.facebook_url }}" target="_blank" class="fb-link">Follow on Facebook</a>
                    </div>                    
                </div>
    				   {% endif %}
    			    {% endif %}
    </div>
    <a name="{{ branch.branch_name }}" id="{{ branch.branch_name }}"></a>
    <div id="contact-details" class="column last company-gallery-bg">
		    {% include 'includes/eos_contact_us_details.html' %}
    </div>
</div>        
  {% endfor %}
  <div class="column last span-22 margin-top30"></div>
{% endfor %}
<!-- -->
{% endblock content %}
