<div id="footer-float" class="footer-content print-hide">
  <div id="footer-top" class="padding-top60 padding-bottom20">
    <div class=" container_12">
      <div class="grid_12">&nbsp;
     {% include 'includes/eos_base_footer_svg_logos.html' %}
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div id="footer-bottom">
    <div class="container_12">
    {% block footer_extra %}{% endblock footer_extra %}

    {% include 'includes/eos_base_footer_links.html' %}
    </div>
  </div>
  <div id="footer-copyright">
    <div class="container_12">
      <!-- Prop Data footer -->
       {% block prop_data_footer %}
        <div id="pd-footer" class="margin-bottom80 clearfix">
          <div class="grid_6">
            <div class="grid_1 first last"><a href="http://www.propdata.net/" target="_blank" class="pd-icon"></a></div>
            <div class="grid_5 first last margin-top5">Website Powered by <a href="http://www.propdata.net" target="_blank">Prop Data</a><br />Copyright &copy; {% now "Y" %} {{ site_name }}</div>
          </div>
          <div class="grid_6 pull-right">
            <div id="footer-social">
              {% block social %}
              {% if social_media_list %}
              <ul class="footer-social-links" style="margin: 0;">
                {% for platform in social_media_list %}
                <li>
                  <a href="{{ platform.url }}" target="_blank"><i data-icon="{{ platform.icon|safe }}" class="social {{ platform.name }}_button-icon"></i></a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
              {% endblock social %}
            </div>
          </div>
        </div>
       {% endblock prop_data_footer %}
      <!-- -->
    </div>
  </div>
</div>
