<div id="footer-float" class="footer-content print-hide">
  <div id="footer-top" class="padding-top20 padding-bottom20">
    <div class=" container_12">
      <div class="grid_6">&nbsp;
     {% include 'includes/eos_base_footer_logos.html' %}
      </div>
      <div class="grid_6 pull-right">
        <div id="footer-social">
      {% block social %}
          {% if twitter or facebook or linkedin or youtube %}
              <b>Follow us on...</b>
              <div class="clearfix"></div>
              <ul class="footer-social-links">
              {% if facebook %}<li><a href="{{ facebook }}" target="_blank"><i class="social facebook_button-icon"></i></a></li>{% endif %}
              {% if twitter %}<li><a href="{{ twitter }}" target="_blank"><i class="social twitter_button-icon"></i></a></li>{% endif %}
              {% if linkedin %}<li><a href="{{ linkedin }}" target="_blank"><i class="social linkedin_button-icon"></i></a></li>{% endif %}
              {% if youtube %}<li><a href="{{ youtube }}" target="_blank"><i class="social youtube_button-icon"></i></a></li>{% endif %}
                {% if google_plus %}<li><a href="{{ google_plus }}" target="_blank"><i class="social googleplus_button-icon"></i></a></li>{% endif %}
                {% if pinterest %}<li><a href="{{ pinterest }}" target="_blank"><i class="social pinterest_button-icon"></i></a></li>{% endif %}
              </ul>
          {% endif %}
      {% endblock social %}
      </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div id="footer-bottom">
    <div class="container_12">
    {% block footer_extra %}{% endblock footer_extra %}

    {% include 'includes/eos_base_footer_links.html' %}
    </div>
  </div>
  <div id="footer-copyright">
    <div class="container_12">
      <!-- Prop Data footer -->
       {% block prop_data_footer %}
          <div id="pd-footer" class="margin-bottom20 clearfix">
              <div class="grid_6">
                  <div class="grid_1 first last"><a href="http://www.propdata.net/" target="_blank" class="pd-icon"></a></div>
                  <div class="grid_5 first last margin-top5">Website Powered by <a href="http://www.propdata.net" target="_blank">Prop Data</a><br />Copyright &copy; {% now "Y" %} {{ site_name }}</div>
              </div>
          </div>
       {% endblock prop_data_footer %}
      <!-- -->
    </div>
  </div>
</div>
/* Social Icons
------------------------------------------------------------ */
.rss_button-icon:before, .facebook_button-icon2:before, .facebook_button-icon:before, .twitter_button-icon:before, .linkedin_button-icon:before, .youtube_button-icon:before  {
    font-family: 'icomoon'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; position: relative; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.rss_button-icon:before        { content: "\f09e"; font-size: 18px; margin-left: 40px; line-height: 36px; }
    
.facebook_button-icon:before   { content: "\f09a"; font-size: 35px; line-height: 40px; position: relative; display: inline-block; vertical-align: middle; top: 3px;}
.twitter_button-icon:before    { content: "\f099"; font-size: 35px; line-height: 40px; position: relative; display: inline-block; vertical-align: middle; left: 4px; top: 3px;}
.linkedin_button-icon:before   { content: "\f0e1"; font-size: 35px; line-height: 40px; position: relative; display: inline-block; vertical-align: middle; left :7px; }
.youtube_button-icon:before    { content: "\f167"; font-size: 35px; line-height: 40px; position: relative;  display: inline-block; vertical-align: middle; left :5px; top:2px; }
.googleplus_button-icon:before { .icon-font(); content: "\f0d5"; font-size: 35px; line-height: 40px; position: relative;  display: inline-block; vertical-align: middle; left:4px; top:4px; }
.pinterest_button-icon:before  { .icon-font(); content: "\f0d2"; font-size: 38px; line-height: 40px; position: relative;  display: inline-block; vertical-align: middle; left:5px; top:3px; }

    .facebook_button-icon2:before  { content: "\f082"; font-size: 18px; line-height: 36px; position: relative; color: @HeadingsColor;}
/* ----// END //---- */
.social                       { width: 54px; height: 54px; display: inline-block; .border-radius(50px); line-height: 53px; background: @FooterBgColor; text-align: center; position: relative; }
.social,
.social:before                { }
.social:after                 { content:""; width: 54px; height: 54px; display: inline-block; .border-radius(50px); line-height: 53px; background: none; text-align: center; border: 1px solid #ffffff; position: absolute; top: 2px; left: 2px;}

.social:hover:after               { border-color: #F7A600; }
}
ul.footer-social-links {margin: 0px;}
/* ----// END //---- */