<div class="header-content print-hide">
  <div class="container_12">
    <div class="grid_12">
      <a href="/" id="logo"><img src="/static/img/custom/layout/logo.svg" /></a>
    </div>
  </div>
</div>
<!-- Navigation -->
<div class="slideDown print-hide">
{% include 'includes/eos_navigation.html' %}
</div>
<div  class="header-image print-hide">
  <div class="resizer">
      <!--<div class="nav-sides">
         <a href="#" class="slide-prev"></a>
         <a href="#" class="slide-next"></a>
      </div>-->
      <ul id="rndList">
          <li id="item1" style="background-image: url(/static/img/custom/slider/images/header-image.jpg);display: block;">
          </li>
      </ul>
  </div>
</div>
<!-- Search -->
{% include 'includes/eos_search.html' %}
