{% extends "base.html" %}
{% block title %}General Advice{% endblock title %}
{% block news %}class="active"{% endblock news %}
{% block content %}
<!-- Page Header -->
<div class="column span-22 last border-bottom1">
    <p class="last font-size11"><span class="breadcrumbs-dark">You are here:</span> <span class="breadcrumbs-light"><a href="/" class="other">Team RE/MAX 7</a> / <a href="/advice/" class="other">General Advice</a></span></p>
    <h1 class="last">General Advice</h1>
</div>
<p>Awaiting Content</p>
{% endblock content %}
