{% load property_counts %}
{% load humanize %}
<div id="id_menu" class="menu print-hide">
<div id="id_menu_content" class="menu-content">
<div id="id_menu_bg" class="menu-bg">
<ul id="id_navigation_bar" class="print-hide clearfix">
<li class="menu-item {% if request.path == '/' %}active{% endif %} " id="id_home_listitem"><a href="/" class="general" id="id_home_tab" ><span class="menu-item-text">Home</span></a></li>
<li class="menu-item has-submenu " id="id_property_search_listitem"><a href="#1" class="general" id="id_property_search_tab" ><span class="menu-item-text">Property Search</span></a>
<ul id='id_property_search_sublist'>
{% ifnotequal featured_properties 0 %}
<li class="submenu-item {% if request.path == '/results/featured-properties/' %}active{% endif %} " id="id_featured_properties_sublistitem"><a id="id_featured_properties" href="/results/featured-properties/" ><span class="sub-menu-item-text">Featured Properties</span></a></li>
{% endifnotequal %}
{% ifnotequal on_show_count 0 %}
<li class="submenu-item {% if request.path == '/results/on-show/' %}active{% endif %} " id="id_on_show_sublistitem"><a id="id_on_show" href="/results/on-show/" ><span class="sub-menu-item-text">On Show</span></a></li>
{% endifnotequal %}
{% ifnotequal residential_for_sale_count 0 %}
<li class="submenu-item {% if request.path == '/results/residential/for-sale/' %}active{% endif %} " id="id_residential_for_sale_sublistitem"><a id="id_residential_for_sale" href="/results/residential/for-sale/" ><span class="sub-menu-item-text">Residential For Sale ({{ residential_for_sale_count|intcomma }})</span></a></li>
{% endifnotequal %}
{% ifnotequal residential_to_let_count 0 %}
<li class="submenu-item {% if request.path == '/results/residential/to-let/' %}active{% endif %} " id="id_residential_to_let_sublistitem"><a id="id_residential_to_let" href="/results/residential/to-let/" ><span class="sub-menu-item-text">Residential To Let ({{ residential_to_let_count|intcomma }})</span></a></li>
{% endifnotequal %}
{% ifnotequal commercial_for_sale_count 0 %}
{% if commercial_addon %}
<li class="submenu-item {% if request.path == '/results/commercial/for-sale/' %}active{% endif %} " id="id_commercial_for_sale_sublistitem"><a id="id_commercial_for_sale" href="/results/commercial/for-sale/" ><span class="sub-menu-item-text">Commercial For Sale ({{ commercial_for_sale_count|intcomma }})</span></a></li>
{% endif %}
{% endifnotequal %}
{% if commercial_addon %}
{% ifnotequal industrial_for_sale_count 0 %}
<li class="submenu-item {% if request.path == '/results/industrial/for-sale/' %}active{% endif %} " id="id_industrial_for_sale_sublistitem"><a id="id_industrial_for_sale" href="/results/industrial/for-sale/" ><span class="sub-menu-item-text">Industrial For Sale ({{ industrial_for_sale_count|intcomma }})</span></a></li>
{% endifnotequal %}
{% endif %}
{% if commercial_addon %}
{% ifnotequal retail_for_sale_count 0 %}
<li class="submenu-item {% if request.path == '/results/retail/for-sale/' %}active{% endif %} " id="id_retail_for_sale_sublistitem"><a id="id_retail_for_sale" href="/results/retail/for-sale/" ><span class="sub-menu-item-text">Retail For Sale ({{ retail_for_sale_count|intcomma }})</span></a></li>
{% endifnotequal %}
{% endif %}
{% if commercial_addon %}
{% ifnotequal agricultural_for_sale_count 0 %}
<li class="submenu-item {% if request.path == '/results/agricultural/for-sale/' %}active{% endif %} " id="id_agricultural_for_sale_sublistitem"><a id="id_agricultural_for_sale" href="/results/agricultural/for-sale/" ><span class="sub-menu-item-text">Agricultural For Sale ({{ agricultural_for_sale_count|intcomma }})</span></a></li>
{% endifnotequal %}
{% endif %}
{% ifnotequal commercial_to_let_count 0 %}
{% if commercial_addon %}
<li class="submenu-item {% if request.path == '/results/commercial/to-let/' %}active{% endif %} " id="id_commercial_to_let_sublistitem"><a id="id_commercial_to_let" href="/results/commercial/to-let/" ><span class="sub-menu-item-text">Commercial To Let ({{ commercial_to_let_count|intcomma }})</span></a></li>
{% endif %}
{% endifnotequal %}
{% if commercial_addon %}
{% ifnotequal industrial_to_let_count 0 %}
<li class="submenu-item {% if request.path == '/results/industrial/to-let/' %}active{% endif %} " id="id_industrial_to_let_sublistitem"><a id="id_industrial_to_let" href="/results/industrial/to-let/" ><span class="sub-menu-item-text">Industrial To Let ({{ industrial_to_let_count|intcomma }})</span></a></li>
{% endifnotequal %}
{% endif %}
{% if commercial_addon %}
{% ifnotequal retail_to_let_count 0 %}
<li class="submenu-item {% if request.path == '/results/retail/to-let/' %}active{% endif %} " id="id_retail_to_let_sublistitem"><a id="id_retail_to_let" href="/results/retail/to-let/" ><span class="sub-menu-item-text">Retail To Let ({{ retail_to_let_count|intcomma }})</span></a></li>
{% endifnotequal %}
{% endif %}
{% if commercial_addon %}
{% ifnotequal agricultural_to_let_count 0 %}
<li class="submenu-item {% if request.path == '/results/agricultural/to-let/' %}active{% endif %} " id="id_agricultural_to_let_sublistitem"><a id="id_agricultural_to_let" href="/results/agricultural/to-let/" ><span class="sub-menu-item-text">Agricultural To Let ({{ agricultural_to_let_count|intcomma }})</span></a></li>
{% endifnotequal %}
{% endif %}
{% ifnotequal residential_new_development_count 0 %}
{% if new_development_addon %}
<li class="submenu-item {% if request.path == '/results/new-development/residential/' %}active{% endif %} " id="id_residential_new_developments_sublistitem"><a id="id_residential_new_developments" href="/results/new-development/residential/" ><span class="sub-menu-item-text">Residential New Developments ({{ residential_new_development_count|intcomma }})</span></a></li>
{% endif %}
{% endifnotequal %}
{% if new_development_addon %}
{% ifnotequal residential_past_development_count 0 %}
<li class="submenu-item {% if request.path == '/results/past-development/residential/' %}active{% endif %} " id="id_residential_past_developments_sublistitem"><a id="id_residential_past_developments" href="/results/past-development/residential/" ><span class="sub-menu-item-text">Residential Past Developments ({{ residential_past_development_count|intcomma }})</span></a></li>
{% endifnotequal %}
{% endif %}
{% ifnotequal commercial_new_development_count 0 %}
{% if new_development_addon %}
<li class="submenu-item {% if request.path == '/results/new-development/commercial/' %}active{% endif %} " id="id_commercial_new_developments_sublistitem"><a id="id_commercial_new_developments" href="/results/new-development/commercial/" ><span class="sub-menu-item-text">Commercial New Developments ({{ commercial_new_development_count|intcomma }})</span></a></li>
{% endif %}
{% endifnotequal %}
{% if new_development_addon %}
{% ifnotequal commercial_past_development_count 0 %}
<li class="submenu-item {% if request.path == '/results/past-development/commercial/' %}active{% endif %} " id="id_commercial_past_developments_sublistitem"><a id="id_commercial_past_developments" href="/results/past-development/commercial/" ><span class="sub-menu-item-text">Commercial Past Developments ({{ commercial_past_development_count|intcomma }})</span></a></li>
{% endifnotequal %}
{% endif %}
{% ifnotequal vacant_land_count 0 %}
<li class="submenu-item {% if request.path == '/results/vacant-land/' %}active{% endif %} " id="id_vacant_land_sublistitem"><a id="id_vacant_land" href="/results/vacant-land/" ><span class="sub-menu-item-text">Vacant Land ({{ vacant_land_count|intcomma }})</span></a></li>
{% endifnotequal %}
{% ifnotequal farm_and_small_holdings_count 0 %}
<li class="submenu-item {% if request.path == '/results/farms-and-small-holdings/' %}active{% endif %} " id="id_farms_amp_small_holdings_sublistitem"><a id="id_farms_amp_small_holdings" href="/results/farms-and-small-holdings/" ><span class="sub-menu-item-text">Farms &amp; Small Holdings ({{ farm_and_small_holdings_count|intcomma }})</span></a></li>
{% endifnotequal %}
{% ifnotequal holiday_letting_count 0 %}
{% if holiday_addon %}
<li class="submenu-item {% if request.path == '/results/holiday/to-let/' %}active{% endif %} " id="id_holiday_letting_sublistitem"><a id="id_holiday_letting" href="/results/holiday/to-let/" ><span class="sub-menu-item-text">Holiday Letting ({{ holiday_letting_count|intcomma }})</span></a></li>
{% endif %}
{% endifnotequal %}
{% ifnotequal bank_reposessed_count 0 %}
{% if offers_addon %}
<li class="submenu-item {% if request.path == '/results/bank-reposessed/' %}active{% endif %} " id="id_bank_reposessed_sublistitem"><a id="id_bank_reposessed" href="/results/bank-reposessed/" ><span class="sub-menu-item-text">Bank Reposessed ({{ bank_reposessed_count|intcomma }})</span></a></li>
{% endif %}
{% endifnotequal %}
{% ifnotequal distressed_count 0 %}
{% if offers_addon %}
<li class="submenu-item {% if request.path == '/results/distressed/' %}active{% endif %} " id="id_distressed_sales_sublistitem"><a id="id_distressed_sales" href="/results/distressed/" ><span class="sub-menu-item-text">Distressed Sales ({{ distressed_count|intcomma }})</span></a></li>
{% endif %}
{% endifnotequal %}
{% ifnotequal tender_count 0 %}
<li class="submenu-item {% if request.path == '/results/tenders/' %}active{% endif %} " id="id_tenders_sublistitem"><a id="id_tenders" href="/results/tenders/" ><span class="sub-menu-item-text">Tenders ({{ tender_count|intcomma }})</span></a></li>
{% endifnotequal %}
{% ifnotequal student_accommodation_count 0 %}
<li class="submenu-item {% if request.path == '/results/student-accommodation/' %}active{% endif %} " id="id_student_accommodation_sublistitem"><a id="id_student_accommodation" href="/results/student-accommodation/" ><span class="sub-menu-item-text">Student Accommodation ({{ student_accommodation_count|intcomma }})</span></a></li>
{% endifnotequal %}
</ul></li>
<li class="menu-item has-submenu " id="id_tools_listitem"><a href="#1" class="general" id="id_tools_tab" ><span class="menu-item-text">Tools</span></a>
<ul id='id_tools_sublist'>
<li class="submenu-item {% if request.path == '/property-email-alerts/' %}active{% endif %} " id="id_property_email_alerts_sublistitem"><a id="id_property_email_alerts" href="/property-email-alerts/" ><span class="sub-menu-item-text">Property Email Alerts</span></a></li>
<li class="submenu-item {% if request.path == '/bond-transfer-cost-calculator/' %}active{% endif %} " id="id_calculators_sublistitem"><a id="id_calculators" href="/bond-transfer-cost-calculator/" ><span class="sub-menu-item-text">Calculators</span></a></li>
</ul></li>
{% if region_profiles_addon %}
<li class="menu-item {% if request.path == '/area-profiles/' %}active{% endif %} " id="id_area_profiles_listitem"><a href="/area-profiles/" class="general" id="id_area_profiles_tab" ><span class="menu-item-text">Area Profiles</span></a></li>
{% endif %}
{% if list_your_property_display %}
<li class="menu-item {% if request.path == '/list-your-property/' %}active{% endif %} " id="id_list_your_property_listitem"><a href="/list-your-property/" class="general" id="id_list_your_property_tab" ><span class="menu-item-text">List Your Property</span></a></li>
{% endif %}
<li class="menu-item has-submenu " id="id_news_listitem"><a href="#1" class="general" id="id_news_tab" ><span class="menu-item-text">News</span></a>
<ul id='id_news_sublist'>
<li class="submenu-item {% if request.path == '/news/' %}active{% endif %} " id="id_latest_news_sublistitem"><a id="id_latest_news" href="/news/" ><span class="sub-menu-item-text">Latest News</span></a></li>
{% if has_general_advice %}
<li class="submenu-item {% if request.path == '/news/category/general-advice/' %}active{% endif %} " id="id_general_advice_sublistitem"><a id="id_general_advice" href="/news/category/general-advice/" ><span class="sub-menu-item-text">General Advice</span></a></li>
{% endif %}
<li class="submenu-item {% if request.path == '/newsletter/' %}active{% endif %} " id="id_email_newsletter_sublistitem"><a id="id_email_newsletter" href="/newsletter/" ><span class="sub-menu-item-text">Email Newsletter</span></a></li>
</ul></li>
<li class="menu-item has-submenu " id="id_about_us_listitem"><a href="#1" class="general" id="id_about_us_tab" ><span class="menu-item-text">About Us</span></a>
<ul id='id_about_us_sublist'>
<li class="submenu-item {% if request.path == '/profile/' %}active{% endif %} " id="id_company_profile_sublistitem"><a id="id_company_profile" href="/profile/" ><span class="sub-menu-item-text">Company Profile</span></a></li>
<li class="submenu-item {% if request.path == '/agents/' %}active{% endif %} " id="id_agent_search_sublistitem"><a id="id_agent_search" href="/agents/" ><span class="sub-menu-item-text">Agent Search</span></a></li>
{% load additional_pages %}
{% get_additional_pages %}
{% for page in additional_pages %}
{% if page.live %}
<li class="submenu-item {% if request.path == '/{{ page.menu_slug }}/' %}active{% endif %} " id="id_pagemenu_title_sublistitem"><a id="id_pagemenu_title" href="/{{ page.menu_slug }}/" ><span class="sub-menu-item-text">{{ page.menu_title }}</span></a></li>
{% endif %}
{% endfor %}
</ul></li>
<li class="menu-item {% if request.path == '/contact/' %}active{% endif %} " id="id_contact_us_listitem"><a href="/contact/" class="general" id="id_contact_us_tab" ><span class="menu-item-text">Contact Us</span></a></li>
</ul>
</div>
</div>
</div>
