<a href="/calculators/" class="content-cta" id="calculator">
  <div class="icon-container">
    {% include 'includes/content-cta/icons/ad1.svg' %}
  </div>
  <div class="cta-content">
    <div class="content-container" style="padding-top: 0;">
      <div class="cta-title">
        Mortgage<br />Calculator
      </div>
      <div class="cta-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
  </div>
</a>
<a href="/list-your-property/" class="content-cta">
  <div class="icon-container">
    {% include 'includes/content-cta/icons/ad2.svg' %}
  </div>
  <div class="cta-content">
    <div class="content-container" style="padding-top: 0;">
      <div class="cta-title">
        Seller's<br />Guide
      </div>
      <div class="cta-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
  </div>
</a>
<a href="/newsletter/" class="content-cta">
  <div class="icon-container">
    {% include 'includes/content-cta/icons/ad3.svg' %}
  </div>
  <div class="cta-content">
    <div class="content-container" style="padding-top: 0;">
      <div class="cta-title">
        Subscribe to My Property
      </div>
      <div class="cta-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
  </div>
</a>