/* Fonts
------------------------------------------------------------ */
/* 'Source Sans Pro'-200 -  */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFl_EbE5kujbLzdX6sKqH6g.eot');
  /* IE9 Compat Modes */
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFl_EbE5kujbLzdX6sKqH6g.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCVh0V6fR69OLaFLklYbiSk.woff2') format('woff2'), /* Super Modern Browsers */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMa9awK0IKUjIWABZIchFI8.woff') format('woff'), /* Modern Browsers */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEMbjGELOEJD5J8DUmxkO-A.ttf') format('truetype'), /* Safari, Android, iOS */ url('https://fonts.gstatic.com/l/font?kit=toadOcfmlt9b38dHJxOBGFuXahqWP-sUHr1s2YHnD8g&skey=f7e766e587bd9f23&v=v9#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* 'Source Sans Pro'-300 -  */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGBlTL9oEQvYTI0YAW1-Ysv0.eot');
  /* IE9 Compat Modes */
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGBlTL9oEQvYTI0YAW1-Ysv0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2') format('woff2'), /* Super Modern Browsers */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff') format('woff'), /* Modern Browsers */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMw1o1eFRj7wYC6JbISqOjY.ttf') format('truetype'), /* Safari, Android, iOS */ url('https://fonts.gstatic.com/l/font?kit=toadOcfmlt9b38dHJxOBGOUS_KcVBMXUJf1HZjyEEXg&skey=e2b26fc7e9e1ade8&v=v9#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* 'Source Sans Pro'-regular -  */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot');
  /* IE9 Compat Modes */
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2') format('woff2'), /* Super Modern Browsers */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff') format('woff'), /* Modern Browsers */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNzbP97U9sKh0jjxbPbfOKg.ttf') format('truetype'), /* Safari, Android, iOS */ url('https://fonts.gstatic.com/l/font?kit=ODelI1aHBYDBqgeIAH2zlADX0QHsyBtvFGhCuXSMYhM&skey=1e026b1c27170b9b&v=v9#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* 'Source Sans Pro'-600 -  */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNanmHNzStikJN_FjplbBik.eot');
  /* IE9 Compat Modes */
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNanmHNzStikJN_FjplbBik.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2') format('woff2'), /* Super Modern Browsers */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff') format('woff'), /* Modern Browsers */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNNE-IuDiR70wI4zXaKqWCM.ttf') format('truetype'), /* Safari, Android, iOS */ url('https://fonts.gstatic.com/l/font?kit=toadOcfmlt9b38dHJxOBGN6ADpNrYTvKq5lsv8A_aYs&skey=227a890402fab339&v=v9#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* 'Source Sans Pro'-700 -  */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFV89XnfCtb1fhQGOlhyqi8.eot');
  /* IE9 Compat Modes */
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFV89XnfCtb1fhQGOlhyqi8.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2') format('woff2'), /* Super Modern Browsers */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff') format('woff'), /* Modern Browsers */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGLsbIrGiHa6JIepkyt5c0A0.ttf') format('truetype'), /* Safari, Android, iOS */ url('https://fonts.gstatic.com/l/font?kit=toadOcfmlt9b38dHJxOBGDoOxVUo1xdF11_PvoexWN4&skey=84e1cdfb74260b1d&v=v9#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* 'Source Sans Pro'-900 -  */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCDZg7i-e40o9FYYiSpZxAc.eot');
  /* IE9 Compat Modes */
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCDZg7i-e40o9FYYiSpZxAc.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGHZhYM0_6AejPZE-OqA592o.woff2') format('woff2'), /* Super Modern Browsers */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGHiec-hVyr2k4iOzEQsW1iE.woff') format('woff'), /* Modern Browsers */ url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGBPPOa1q11iOmmM9mDHHHX4.ttf') format('truetype'), /* Safari, Android, iOS */ url('https://fonts.gstatic.com/l/font?kit=toadOcfmlt9b38dHJxOBGEJ5fyyk7hbwuQs1ayp3rqc&skey=cf4dfcb31d72fb0a&v=v9#SourceSansPro') format('svg');
  /* Legacy iOS */
}
/* ----// END //---- */
/* LESS Variables
------------------------------------------------------------ */
/* ----// END //---- */
/* CSS Helpers
------------------------------------------------------------ */
/* ----// END //---- */
/* Main Background
------------------------------------------------------------ */
html {
  font-size: 17px;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}
.main-content {
  position: relative;
  min-height: 580px;
}
/* ----// END //---- */
/* Header
------------------------------------------------------------ */
.header-content {
  background: url(/static/img/custom/layout/header-bg.jpg) repeat-x;
}
/* ----// END //---- */
/* Navigation
------------------------------------------------------------ */
.menu {
  position: relative;
  z-index: 1000;
  margin: 0 auto;
  width: 100%;
  background-color: #AF0D18;
}
.menu-content {
  margin: 0 auto;
  width: 960px;
}
.menu-bg {
  margin: 0 10px;
  width: 940px;
}
.menu-bg ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-bg li {
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}
.menu-bg > ul > li {
  display: inline;
  padding: 0;
  float: left;
  position: relative;
  z-index: 1000;
}
.menu-bg > ul > li > a {
  color: #ffffff;
  background: #AF0D18;
  display: block;
  border-right: 1px solid #9E0A16;
  font-size: 0.8rem;
  padding: 0 21px;
  line-height: 2.25rem;
  position: relative;
  z-index: 1000;
}
.menu-bg > ul > li:hover > a {
  color: #ffffff;
  background: #990000;
}
.menu-bg > ul > li.active > a {
  color: #ffffff;
  background: #990000;
}
.menu-bg > ul > li.active:hover > a {
  color: #ffffff;
  background: #990000;
}
.menu-bg > ul > li > ul > li {
  width: 100%;
  white-space: nowrap;
}
.menu-bg > ul > li > ul > li a {
  color: #ffffff;
  background: #990000;
  padding: 0 12px;
  font-size: 0.76rem;
  line-height: 1.5rem;
  display: block;
  border-bottom: 1px solid #AD3333;
}
.menu-bg > ul > li > ul > li a:hover {
  color: #ffffff;
  background: #B0000D;
}
/* Menu Animation: Slide Down */
.slideDown .menu-bg > ul > li > ul {
  height: auto;
  opacity: 1;
  top: -999px;
}
.slideDown .menu-bg > ul > li:hover > ul {
  top: 100%;
  opacity: 1;
}
/* Menu Animation: Fade In Up */
.fadeInUp .menu-bg > ul > li > ul {
  height: 0;
  opacity: 0;
  top: 200%;
}
.fadeInUp .menu-bg > ul > li:hover > ul {
  height: auto;
  top: 100%;
  opacity: 1;
}
/* Menu Animation: Fade In */
.fadeIn .menu-bg > ul > li > ul {
  opacity: 0;
  top: 100%;
  height: 0;
}
.fadeIn .menu-bg > ul > li:hover > ul {
  height: auto;
  opacity: 1;
}
/* ----// END //---- */
/* Slider */
.header-image {
  width: 100%;
  min-height: 460px;
  z-index: 9;
  position: relative;
  min-width: 940px;
  overflow: hidden;
}
.resizer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}
#rndList {
  height: 100%;
  width: 100%;
  z-index: -1;
  list-style: none;
  margin: 0;
  padding: 0;
}
#rndList li {
  height: 100%;
  width: 100%;
  position: relative;
  display: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}
/* ----// END //---- */
/* Search
------------------------------------------------------------ */
.adv_search_container {
  background: #ffffff;
  font-size: 17px;
  z-index: 1100;
  position: relative;
  font-size: 0.8rem;
}
.adv_search_box1 {
  background: transparent;
}
.select2-container .select2-choice,
.select2-container-multi .select2-choices {
  border: 1px solid #d6d6d6;
}
.select2-drop {
  border: 1px solid #d6d6d6;
}
.select2-container .select2-choice abbr {
  background: #c90d1b;
}
.select2-container .select2-choice .select2-arrow b {
  background: #c90d1b;
  text-align: center;
  font-size: 12px;
}
.select2-container .select2-choice .select2-arrow b:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}
fieldset p > input[type="checkbox"] + label:before {
  background: #f1f1f1;
  border: none;
}
fieldset p > input[type="checkbox"]:checked + label:after {
  color: #333333;
}
#adv_search_properties fieldset p > input[type="checkbox"] + label:before,
#adv_search_suburbs fieldset p > input[type="checkbox"] + label:before {
  background: #ffffff;
  width: 14px;
  height: 14px;
  border: 1px solid #d6d6d6;
}
#adv_search_properties fieldset p > input[type="checkbox"]:checked + label:after,
#adv_search_suburbs fieldset p > input[type="checkbox"]:checked + label:after {
  color: #c90d1b;
}
.adv_search_heading {
  color: #333333;
}
.more_search_options_link:before {
  color: #c90d1b;
}
.less_search_options_link:before {
  color: #c90d1b;
}
.web_ref_search_link a:before {
  color: #c90d1b;
}
.adv_search_webref_back_link a:before {
  color: #c90d1b;
}
input::-webkit-input-placeholder {
  color: #999999 !important;
  opacity: 1;
}
input::-moz-placeholder {
  color: #999999 !important;
  opacity: 1;
}
input:-moz-placeholder {
  color: #999999 !important;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #999999 !important;
  opacity: 1;
}
.id_reference_number {
  border: 1px solid #d6d6d6;
}
.webref_button {
  color: #ffffff;
  background: #c90d1b;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.id_neighbouring_suburbs a {
  color: #333333;
}
.id_neighbouring_suburbs a:hover {
  color: #c90d1b;
}
/* Search Buttons */
#id_web_ref_search_link a {
  color: #333333;
  text-decoration: none;
}
#id_web_ref_search_link a:hover {
  color: #c90d1b;
}
#adv_search_webref_back_link a {
  color: #333333;
  text-decoration: none;
}
#adv_search_webref_back_link a:hover {
  color: #c90d1b;
}
#adv_search_more_less_container a {
  color: #333333;
  text-decoration: none;
}
#adv_search_more_less_container a.less_search_options_link {
  color: #333333;
  text-decoration: none;
}
#adv_search_more_less_container a.less_search_options_link:hover {
  color: #c90d1b;
}
#adv_search_more_less_container a:hover {
  color: #c90d1b;
}
#id_property_count {
  color: #000033;
}
#adv_search_suburbs label {
  color: #333333;
  font-weight: normal;
}
#adv_search_properties label {
  color: #333333;
  font-weight: normal;
}
.id_as_price_from,
.id_as_price_to,
.id_as_price_from_278,
.id_as_price_to_278,
.id_as_size_from,
.id_as_size_to {
  border: solid 1px #d6d6d6;
}
/* ----// END //---- */
/* Results: Sticky Header */
.sticky-header {
  background: url(/static/img/custom/layout/header-bg.jpg) repeat-x;
}
.sticky-header .sticky-logo {
  text-align: center;
}
.sticky-header .sticky-logo img {
  position: relative;
  max-width: 100%;
  display: inline-block;
  vertical-align: bottom;
  height: auto;
}
#sticky-filters-form label {
  color: #ffffff;
  display: block;
  margin-bottom: 4px;
}
.maxi-dropdown .select2-results .select2-selected:after {
  color: #333333;
}
.sticky-header .input {
  border: 1px solid url(/static/img/custom/layout/header-bg.jpg) repeat-x;
}
.sticky-header .select2-container .select2-choice .select2-arrow b {
  background: #c90d1b;
}
.sticky-header .filter-submit {
  background: #c90d1b;
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.sticky-header .filter-submit .icon-sticky-filter {
  color: #ffffff;
}
.sticky-header .filter-submit .icon-sticky-filter:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  content: "\f00e";
  position: relative;
}
.sticky-header .filter-text {
  color: #ffffff;
}
/* Results: Actions */
.action-button {
  background: #ffffff;
  color: #333333;
}
.action-button > a {
  border: 1px solid #d6d6d6;
}
#results-map {
  color: #333333;
  box-sizing: border-box;
}
#results-map .icon-map-pin {
  color: #c90d1b;
}
.header-bordered {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
.header-bottom-bordered {
  border-bottom: 1px solid #d6d6d6;
}
#results-filter .vSelectField .select2-choice,
.sidebar-contact-form .vSelectField .select2-choice,
.header-bordered .vSelectField .select2-choice {
  background: #ffffff;
  border: 1px solid #d6d6d6;
  line-height: 32px;
}
#results-filter .vSelectField .select2-choice .select2-arrow b,
.sidebar-contact-form .vSelectField .select2-choice .select2-arrow b,
.header-bordered .vSelectField .select2-choice .select2-arrow b {
  background: #ffffff;
  line-height: 32px;
}
#results-filter .vSelectField .select2-choice .select2-arrow b:before,
.sidebar-contact-form .vSelectField .select2-choice .select2-arrow b:before,
.header-bordered .vSelectField .select2-choice .select2-arrow b:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  content: "\f0dc";
  font-size: 17px;
}
#results-alerts {
  color: #333333;
  z-index: 902;
}
#results-alerts .icon-alerts {
  color: #c90d1b;
}
.results-alerts-mini {
  background: #ffffff;
  border: 1px solid #d6d6d6;
}
#results-favourites {
  color: #333333;
  box-sizing: border-box;
}
#results-favourites .icon-favourites {
  color: #c90d1b;
}
#results-favourites .icon-favourites .count {
  color: #ffffff;
}
/* Results: Map */
#results-map-details {
  background: #ffffff;
  color: #333333;
}
#results-map-details .map-details-close {
  background: #ffffff;
  border: 1px solid #d6d6d6;
}
#results-map-details .property-list-details {
  border-right: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}
#results-map-details:before {
  border-right: 15px solid #ffffff;
}
/* Results: Navigation */
.top-nav-counter-list li.now {
  background: #f1f1f1;
  font-weight: 600;
}
.top-nav-counter-list li span {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}
/* Results: Sidebar */
.sidebar-button {
  background: #ffffff;
  color: #333333;
}
.sidebar-button a {
  border: 1px solid #d6d6d6;
}
.sidebar-button i {
  background: #ffffff;
}
.sidebar-button.active a {
  border-bottom: 1px solid #ffffff;
}
#sidebar-print.active a,
#sidebar-pdf a {
  border-bottom: 1px solid #d6d6d6;
}
#sidebar-pdf .icon-sidebar-pdf {
  color: #999999;
}
#sidebar-print .icon-sidebar-print {
  color: #999999;
}
#sidebar-scan .icon-sidebar-scan {
  color: #999999;
}
#sidebar-share .icon-sidebar-share {
  color: #999999;
}
#sidebar-qr-code,
#sidebar-social-sharing {
  background: #ffffff;
  color: #333333;
  border: 1px solid #d6d6d6;
}
.sidebar-qr-code .qr-code-grey {
  color: #666666;
}
.operating-systems .icon-android {
  color: #666666;
}
.operating-systems .icon-apple {
  color: #666666;
}
.operating-systems .icon-windows {
  color: #666666;
}
.operating-systems .icon-blackberry {
  color: #666666;
}
.sidebar-contact {
  background: #ffffff;
  color: #333333;
  border: 1px solid #d6d6d6;
  padding: 20px;
}
.sidebar-email-friend fieldset p > input[type="checkbox"] + label:before,
.sidebar-contact fieldset p > input[type="checkbox"] + label:before {
  background: #f1f1f1;
  border: none;
}
.sidebar-input,
.sidebar-textarea,
.sidebar-date {
  background: #f1f1f1;
  color: #333333;
  width: 100%;
  border: none;
  box-sizing: border-box;
}
.sidebar-contact-form .vSelectField .select2-choice,
#make-an-offer-form .vSelectField .select2-choice,
.form-section .vSelectField .select2-choice,
.sidebar-contact-form .vSelectField .select2-choices,
#make-an-offer-form .vSelectField .select2-choices,
.form-section .vSelectField .select2-choices {
  background: #f1f1f1 !important;
  color: #333333 !important;
}
.sidebar-contact-form .vSelectField .select2-arrow b,
#make-an-offer-form .vSelectField .select2-arrow b,
.form-section .vSelectField .select2-arrow b {
  background: #f1f1f1 !important;
  color: #333333 !important;
}
.sidebar-contact-form .vSelectField .select2-arrow b:before,
#make-an-offer-form .vSelectField .select2-arrow b:before,
.form-section .vSelectField .select2-arrow b:before {
  color: #333333 !important;
}
.sidebar-dropdown {
  background: #f1f1f1 !important;
  color: #333333 !important;
}
.sidebar-input::placeholder,
.sidebar-textarea::placeholder,
.full-input::placeholder {
  color: #333333 !important;
  opacity: 1;
}
.sidebar-input::-webkit-input-placeholder,
.sidebar-textarea::-webkit-input-placeholder,
.full-input::-webkit-input-placeholder {
  color: #333333 !important;
  opacity: 1;
}
.sidebar-input:-moz-placeholder,
.sidebar-textarea:-moz-placeholder,
.full-input:-moz-placeholder {
  color: #333333 !important;
  opacity: 1;
}
.sidebar-input::-moz-placeholder,
.sidebar-textarea::-moz-placeholder,
.full-input::-moz-placeholder {
  color: #333333 !important;
  opacity: 1;
}
.sidebar-input:-ms-input-placeholder,
.sidebar-textarea:-ms-input-placeholder,
.full-input:-ms-input-placeholder {
  color: #333333 !important;
  opacity: 1;
}
/* Results: Map Canvas */
.icon-agent-phone:before {
  color: #c90d1b;
}
.icon-agent-search:before {
  color: #c90d1b;
}
/* Results: Results List */
#results-list .property-list-item {
  background: #ffffff;
  border: 1px solid #d6d6d6;
  color: #333333;
}
#results-list .property-list-item.featured {
  border: 4px solid #BDBDBD;
}
#results-list .property-list-item .property-list-link:hover {
  background: #f5f5f5;
}
#results-list .property-list-meta {
  color: #333333;
}
#results-list .property-list-webref {
  color: #333333;
}
.property-list-item .icon-beds,
.property-list-item .icon-baths,
.property-list-item .icon-garages,
.property-list-item .icon-openparking {
  color: #333333;
}
.property-list-item .icon-beds:before,
.property-list-item .icon-baths:before,
.property-list-item .icon-garages:before,
.property-list-item .icon-openparking:before {
  color: #c90d1b;
}
/* Results: Results List Extras */
.no-favourites-highlight {
  border-left: 6px solid #c90d1b;
}
.no-favourites-highlight:before {
  border-right: 15px solid #c90d1b;
}
#results-list .property-list-inject {
  background: #ffffff;
  border: 1px solid #d6d6d6;
  padding: 20px;
}
.box-alt-bg {
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
}
/* Results: Results List Extras - Area Profiles */
#results-list .block-content {
  color: #333333;
}
#results-list .property-list-news-article-box .news-article-content {
  color: #333333;
}
/* Results: Results List Extras - Email Alerts */
.results-email-alerts-box .icon-email-alerts:before {
  color: #c90d1b;
}
.email-alerts-mini-close {
  background: #ffffff;
  border: 1px solid #d6d6d6;
}
.results-email-alerts-box .full-input {
  background: #ffffff;
  color: #333333;
}
/* Details: Listing action buttons */
#listing-back .icon-arrow-back {
  color: #c90d1b;
}
/* Details: Listing Sections */
.content-block {
  background: #ffffff;
  border: 1px solid #d6d6d6;
  color: #333333;
}
.content-block h1#listing-price {
  color: #c90d1b;
}
.property-list-meta .icon-beds,
.property-list-meta .icon-baths,
.property-list-meta .icon-garages,
.property-list-meta .icon-openparking {
  color: #333333;
}
.property-list-meta .icon-beds:before,
.property-list-meta .icon-baths:before,
.property-list-meta .icon-garages:before,
.property-list-meta .icon-openparking:before {
  color: #c90d1b;
}
#details-list .listing-media-tabs .action-button.active a {
  border-bottom: 1px solid #ffffff;
}
#details-list .icon-camera {
  color: #c90d1b;
}
#details-list .action-button .icon-video {
  color: #c90d1b;
}
#details-list .icon-tour {
  color: #c90d1b;
}
#details-list .icon-progress {
  color: #c90d1b;
}
#details-list .icon-floorplan {
  color: #c90d1b;
}
.new-dev-banners {
  border: 1px solid #d6d6d6;
}
.gallery-thumbnails .counter-overlay {
  background: rgba(0, 0, 0, 0.7);
}
.gallery-thumbnails .thumbs-prev {
  background: #f1f1f1;
}
.gallery-thumbnails .thumbs-prev i:before {
  color: #333333;
}
.gallery-thumbnails .thumbs-next {
  background: #f1f1f1;
}
.gallery-thumbnails .thumbs-next i:before {
  color: #333333;
}
.listing-description p {
  color: #333333;
}
.listing-features-content ul li:before {
  color: #c90d1b;
}
.listing-features h5 {
  font-size: 0.8rem;
}
.icon-yes:before {
  color: #c90d1b;
}
.listing-on-show .on-show-get-directions .directions-input {
  background: #f1f1f1;
}
.listing-downloads .document-table tr:nth-child(2n+2),
.listing-downloads .document-table tr.alt,
.offer-history-table tr.alt {
  background: #f1f1f1;
}
#details-list .listing-map-tabs .action-button.active a {
  border-bottom: 1px solid #ffffff;
}
#details-list .icon-map {
  color: #c90d1b;
}
#details-list .icon-streetview {
  color: #c90d1b;
}
#details-list .icon-amenities {
  color: #c90d1b;
}
#id_amenities_info td a:hover {
  color: #c90d1b;
}
.transparent-black {
  background: rgba(0, 0, 0, 0.7);
}
.transparent-red.top-left,
.transparent-black.sold,
.transparent-black.rented,
.transparent-black.pending {
  background: #c90d1b;
}
#make-an-offer-form input.full-input {
  background: #f1f1f1;
  color: #333333;
}
#make-an-offer-form input.mega-input {
  background: #f1f1f1;
  color: #333333;
}
#make-an-offer-form fieldset p > input[type="checkbox"] + label:before {
  background: #f1f1f1;
}
#make-an-offer-form fieldset p > input[type="checkbox"]:checked + label:before {
  background: #f1f1f1;
}
#make-an-offer-form fieldset p > input[type="checkbox"]:checked + label:after {
  color: #333333;
}
.input-number .number-control-up {
  background: #c90d1b;
}
.input-number .number-control-up .icon-arrow-up:after {
  border-bottom: 1px solid #ffffff;
}
.input-number .number-control-up .icon-arrow-up:before {
  color: #ffffff;
}
.input-number .number-control-down {
  background: #c90d1b;
}
.input-number .number-control-down .icon-arrow-down:before {
  color: #ffffff;
}
.navigation-thumbnails .thumbs-prev {
  background: #f1f1f1;
}
.navigation-thumbnails .thumbs-next {
  background: #f1f1f1;
}
.navigation-thumbnails li.current {
  border-top: 6px solid #c90d1b;
}
#sticky-details {
  color: #ffffff;
}
#sticky-details .sticky-price {
  color: #ffffff;
}
#sticky-details .sticky-details-meta .icon-beds,
#sticky-details .sticky-details-meta .icon-baths,
#sticky-details .sticky-details-meta .icon-garages,
#sticky-details .sticky-details-meta .icon-openparking {
  color: #ffffff;
}
#sticky-details .sticky-details-meta .icon-beds:before,
#sticky-details .sticky-details-meta .icon-baths:before,
#sticky-details .sticky-details-meta .icon-garages:before,
#sticky-details .sticky-details-meta .icon-openparking:before {
  color: #ffffff;
}
#calculators .calculator-inputs .detail-more .icon-info-circle:before {
  color: #333333;
}
#calculators .calculator-inputs input:not(.select2-input) {
  background: #f1f1f1;
  color: #333333;
}
#calculators .income-table input[type="text"]:not(.select2-input),
#calculators .expense-table input[type="text"]:not(.select2-input),
#calculators .income-table input[type="number"]:not(.select2-input),
#calculators .expense-table input[type="number"]:not(.select2-input) {
  background: #f1f1f1;
  color: #333333;
}
#calculators .income-table .currency-placeholder,
#calculators .expense-table .currency-placeholder {
  color: #333333;
}
#calculators .select2-arrow b {
  background: #ffffff;
}
#calculators .select2-arrow b:before {
  color: #333333;
}
.divider {
  border-top: 1px solid #d6d6d6;
}
#calculator-tabs .action-button.active a {
  border-bottom: 1px solid #ffffff;
}
.form-section {
  border-top: 1px solid #d6d6d6;
}
.form-section .pull-left input[type='text']:not(.select2-input),
.form-section .pull-left input[type='email'],
.form-section .pull-left input[type='number'] {
  background: #f1f1f1;
  color: #333333;
  border: none;
}
.form-section .pull-left textarea {
  background: #f1f1f1;
  color: #333333;
  border: none;
}
.form-section input::-webkit-input-placeholder,
.form-section textarea::-webkit-input-placeholder {
  color: #333333 !important;
}
.form-section input:-moz-placeholder,
.form-section textarea:-moz-placeholder {
  color: #333333 !important;
}
.form-section input::-moz-placeholder,
.form-section textarea::-moz-placeholder {
  color: #333333 !important;
}
.form-section input:-ms-input-placeholder,
.form-section textarea:-ms-input-placeholder {
  color: #333333 !important;
}
.quick-search:before {
  color: #333333;
}
.branch-meta .border-left:before,
.area-profile-properies .border-left:before {
  border-right: 1px solid #d6d6d6;
}
.meta-section {
  border-top: 1px solid #d6d6d6;
}
/* Latest Newsletter Bubble */
.issue-bubble {
  background: #215c96;
}
.issue-bubble:hover {
  color: #ffffff;
}
.issue-bubble:after {
  border-color: #215c96 rgba(0, 0, 0, 0);
}
/* News Results */
.divider-line {
  border-top: 1px solid #d6d6d6;
}
#sidebar-categories .category-list {
  border-top: 1px solid #d6d6d6;
}
#sidebar-categories .category-list li {
  border-bottom: 1px solid #d6d6d6;
}
.article-block .article-image {
  border: 1px solid #d6d6d6;
}
.comments-block:after {
  border-color: #ffffff rgba(0, 0, 0, 0);
}
.comments-block:before {
  border-top: 1px solid #d6d6d6;
}
.area-profile-listings-box {
  border: 1px solid #d6d6d6;
}
.area-profile-listings-box .area-profile-property-links a:after {
  background: #333333;
}
/* Headings
------------------------------------------------------------ */
h1 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  color: #212121;
  font-weight: 300;
}
h2 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  color: #215c96;
  font-weight: 300;
  text-transform: uppercase;
}
h3 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #c90d1b;
  line-height: 1;
  font-weight: 600;
  margin: 0px;
}
h4 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.25rem;
  color: #333333;
  line-height: 1;
  font-weight: 600;
  margin: 0px;
}
h5 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.1rem;
  color: #333333;
  line-height: 1;
  font-weight: 600;
  margin: 0px;
}
h1.page-heading {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  color: #212121;
}
.heading-price {
  color: #c90d1b;
}
.sub-headings {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.125rem;
  color: #000000;
  display: block;
  width: 100%;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 10px;
}
.sub-headings-alt {
  color: #c90d1b;
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 10px;
}
.quote {
  font-size: 150%;
}
.headings {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #c90d1b;
  display: block;
  width: 100%;
  line-height: 1;
  font-weight: 400;
}
.main-headings {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #c90d1b;
  display: block;
  width: 100%;
  line-height: 1;
  font-weight: 300;
  text-transform: none;
}
.article-headings {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.325rem;
  color: #c90d1b;
  font-weight: 400;
}
/* ----// END //---- */
/* Bullets
------------------------------------------------------------ */
.bullets li:before {
  color: #c90d1b;
}
/* ----// END //---- */
/* Links
------------------------------------------------------------ */
a {
  color: #c90d1b;
  text-decoration: none;
}
a:hover {
  color: #215c96;
}
a.news-heading-link {
  color: #c90d1b;
  text-decoration: none;
}
a.news-heading-link:hover {
  color: #215c96;
}
#footer-social {
  color: #ffffff;
  /* ----// END //---- */
}
#footer-social .social:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: attr(data-icon);
  color: #ffffff;
  font-size: 36px;
  position: relative;
  line-height: 40px;
  top: auto;
  left: auto;
}
#footer-social .social:hover:before {
  color: #999999;
}
#footer-navigation-links .footer-divider {
  opacity: 0;
}
#footer-heading {
  display: none;
}
/* ----// END //---- */
/* Buttons
------------------------------------------------------------ */
.primary-button {
  background: #c90d1b;
  color: #FFFFFF;
}
.primary-button:hover {
  background: #e10f1e;
  color: #FFFFFF;
}
.secondary-button {
  background: #f1f1f1;
  color: #333333;
}
.secondary-button:hover {
  background: #ececec;
  color: #333333;
}
/* ----// END //---- */
/* Footer
------------------------------------------------------------ */
.footer-content {
  color: #ffffff;
  font-size: 0.7rem;
  background: url(/static/img/custom/layout/footer-bg.jpg) repeat-x top #225C96;
}
.footer-content h2 {
  color: #ffffff;
}
.footer-content a {
  color: #ffffff;
}
.footer-content a:hover {
  color: #7A98B2;
}
.footer-divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.pd-icon:before {
  color: #ffffff;
}
/* ----// END //---- */
.pd_modal_mini {
  background: #ffffff;
}
.pp_close {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.pd_nav_left,
.pd_nav_right {
  background: #f1f1f1;
}
.pd_modal_controls .counter {
  color: #333333;
}
.pd_modal_title {
  border-bottom: 1px solid #d6d6d6;
  color: #212121;
}
.captcha-background {
  border: 1px solid #d6d6d6;
}
/* FACEBOOK
------------------------------------------------------------ */
.facebook-search {
  background: #c90d1b;
}
#facebook-overview .adv_search_box1 {
  background: #f2f2f2;
}
#facebook-overview .select2-container .select2-choice .select2-arrow b {
  background: #215c96;
}
#facebook-overview .adv_search_heading {
  color: #999999;
}
#facebook-overview #id_property_count {
  color: #999999;
}
#facebook-overview #adv_search_more_less_container a {
  color: #999999;
}
#facebook-overview #adv_search_more_less_container a:hover {
  color: #c90d1b;
}
#facebook-overview #adv_search_webref_back_link a {
  color: #999999;
}
#facebook-overview #adv_search_webref_back_link a:hover {
  color: #c90d1b;
}
#facebook-overview #adv_search_webref_back_link a:before {
  color: #c90d1b;
}
#facebook-overview #id_neighbouring_suburbs a {
  color: #999999;
}
#facebook-overview #id_neighbouring_suburbs a:before {
  color: #c90d1b;
}
#facebook-overview #id_neighbouring_suburbs a:hover {
  color: #c90d1b;
}
#facebook-overview #id_web_ref_search_link a {
  color: #999999;
}
#facebook-overview #id_web_ref_search_link a:hover {
  color: #c90d1b;
}
#facebook-overview #id_web_ref_search_link a:before {
  color: #c90d1b;
}
#facebook-overview #adv_search_suburbs label {
  color: #999999;
}
#facebook-overview #adv_search_properties label {
  color: #999999;
}
.facebook-listings {
  background: #215c96;
}
/* ----// END //---- */
@media print {
  .transparent-red {
    background: #215c96;
  }
}
/*
** HOMEPAGE - FEATURED PROPERTIES
*/
/*
** HOMEPAGE - 2 FEATURED PROPERTIES
*/
.featured-properties-2 .property-image-thumb {
  position: relative;
  width: 100%;
  height: 260px;
  overflow: hidden;
}
/*
** HOMEPAGE - FEATURED NEWS ARTICLES
*/
/*
** HOMEPAGE - 2 FEATURED NEWS ARTICLES
*/
.featured-articles-2 .news-summary-image {
  margin-right: 16px;
  width: 150px;
  height: 145px;
  overflow: hidden;
}
.featured-articles-2 .news-summary-image img {
  max-width: 100%;
}
