// out: custom.css

@import url("../../eos/assets/less/_css3.less");

/* Fonts
------------------------------------------------------------ */

/* 'Source Sans Pro'-200 -  */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFl_EbE5kujbLzdX6sKqH6g.eot'); /* IE9 Compat Modes */
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFl_EbE5kujbLzdX6sKqH6g.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCVh0V6fR69OLaFLklYbiSk.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMa9awK0IKUjIWABZIchFI8.woff') format('woff'), /* Modern Browsers */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEMbjGELOEJD5J8DUmxkO-A.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://fonts.gstatic.com/l/font?kit=toadOcfmlt9b38dHJxOBGFuXahqWP-sUHr1s2YHnD8g&skey=f7e766e587bd9f23&v=v9#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* 'Source Sans Pro'-300 -  */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGBlTL9oEQvYTI0YAW1-Ysv0.eot'); /* IE9 Compat Modes */
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGBlTL9oEQvYTI0YAW1-Ysv0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff') format('woff'), /* Modern Browsers */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMw1o1eFRj7wYC6JbISqOjY.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://fonts.gstatic.com/l/font?kit=toadOcfmlt9b38dHJxOBGOUS_KcVBMXUJf1HZjyEEXg&skey=e2b26fc7e9e1ade8&v=v9#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* 'Source Sans Pro'-regular -  */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot'); /* IE9 Compat Modes */
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff') format('woff'), /* Modern Browsers */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNzbP97U9sKh0jjxbPbfOKg.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://fonts.gstatic.com/l/font?kit=ODelI1aHBYDBqgeIAH2zlADX0QHsyBtvFGhCuXSMYhM&skey=1e026b1c27170b9b&v=v9#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* 'Source Sans Pro'-600 -  */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNanmHNzStikJN_FjplbBik.eot'); /* IE9 Compat Modes */
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNanmHNzStikJN_FjplbBik.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff') format('woff'), /* Modern Browsers */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNNE-IuDiR70wI4zXaKqWCM.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://fonts.gstatic.com/l/font?kit=toadOcfmlt9b38dHJxOBGN6ADpNrYTvKq5lsv8A_aYs&skey=227a890402fab339&v=v9#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* 'Source Sans Pro'-700 -  */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFV89XnfCtb1fhQGOlhyqi8.eot'); /* IE9 Compat Modes */
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFV89XnfCtb1fhQGOlhyqi8.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff') format('woff'), /* Modern Browsers */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGLsbIrGiHa6JIepkyt5c0A0.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://fonts.gstatic.com/l/font?kit=toadOcfmlt9b38dHJxOBGDoOxVUo1xdF11_PvoexWN4&skey=84e1cdfb74260b1d&v=v9#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* 'Source Sans Pro'-900 -  */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCDZg7i-e40o9FYYiSpZxAc.eot'); /* IE9 Compat Modes */
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCDZg7i-e40o9FYYiSpZxAc.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGHZhYM0_6AejPZE-OqA592o.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGHiec-hVyr2k4iOzEQsW1iE.woff') format('woff'), /* Modern Browsers */
       url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGBPPOa1q11iOmmM9mDHHHX4.ttf') format('truetype'), /* Safari, Android, iOS */
       url('https://fonts.gstatic.com/l/font?kit=toadOcfmlt9b38dHJxOBGEJ5fyyk7hbwuQs1ayp3rqc&skey=cf4dfcb31d72fb0a&v=v9#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* ----// END //---- */


/* LESS Variables
------------------------------------------------------------ */

@FontFamily: "Source Sans Pro", Helvetica, sans-serif;
@BaseFontSize: 17px;

@PrimaryColor: #c90d1b;                       // Primary Color
@SecondaryColor: #215c96;                     // Secondary Color
@SiteTextColor: #333333;                      // Website Font Color
@AccentColor: #c90d1b;


@LinkActive: @PrimaryColor;                   // Generic Link
@LinkHover: @SecondaryColor;                  // Generic Link Hover
@DefaultDropdownBG: #ffffff;                  // Generic Select BG
@DefaultDropdownIcon: #333333;                // Generic Select Icon
@DefaultDropdownBorder: 1px solid #d6d6d6;    // Generic Select Border
@PlaceholderColor: #999999;                   // Generic Placeholder Color

@HeaderBG: url(/static/img/custom/layout/header-bg.jpg) repeat-x;   // Header BG
@HeaderImageHeight: 460px;

// Menu Background Styling
@MenuBG: #AF0D18;                             // Menu Container BG
@MenuLinkBG: #AF0D18;                         // Menu Link BG
@MenuLinkActiveBG: #990000;                   // Menu Active Link BG
@MenuLinkActiveHoverBG: #990000;              // Menu Active Link BG Hover
@MenuLinkHoverBG: #990000;                    // Menu Hover Link BG

@SubMenuLinkBG: #990000;                      // Menu Dropdown BG
@SubMenuLinkHoverBG: #B0000D;                 // Menu Dropdown Hover BG

// Menu Text Styling
@MenuLinkText: #ffffff;                       // Menu Link Text
@MenuLinkHoverText: #ffffff;                  // Menu Hover Link Text
@MenuLinkActiveText: #ffffff;                 // Menu Active Link Text
@MenuLinkActiveHoverText: #ffffff;                 // Menu Active Link Text
@MenuTextTransform: uppercase;                // Menu Text Transform
@MenuFontWeight: bold;                        // Menu Font Weight
@SubMenuLinkText: #ffffff;                    // Menu Dropdown Link Text
@SubMenuLinkHoverText: #ffffff;               // Menu Dropdown Link Hover Text

// Menu Border Styling
@MenuLinkBorderLeft: 1px solid #CE0D1A;       // Menu Link Border Left
@MenuLinkBorderRight: 1px solid #9E0A16;      // Menu Link Border Right
@SubMenuBorderBottom: 1px solid #AD3333;      // Dropdown Menu Bottom Border


// Content Block Styling
@ContentBlocksBG: #ffffff;                    // Main Content BG
@ContentBlocksHoverBG: #f5f5f5;               // Listing Result Hover BG
@ContentBlocksText: @SiteTextColor;           // Main Text Color
@ContentBlocksBorder: 1px solid #d6d6d6;      // Content section Borders
@ContentBlocksAltBG: #f1f1f1;                 // Property Email Alerts infoblock BG
@ContentBlocksAltText: #666666;               // Property Email Alerts infoblock Text Color
@ContentBlocksAltBorder: 1px solid #f1f1f1;   // Property Email Alerts infoblock Borders

// Search Container Styling
@SearchBg: #ffffff;                           // Full Width Bg
@SearchBackBg: transparent;                   // 960 Width Bg
@SearchTicksBG: #ffffff;                      // Checkbox BG
@SearchButtonBG: @PrimaryColor;               // Search Button Bg
@SearchButtonBorderRadius: 0px;               // Search Button Border Radius
@SearchDropdownIconBG: @PrimaryColor;         // Search Dropdown Arrow Background
@SearchBorders: #d6d6d6;                      // Search Input Border

// Search Text Styling
@SearchLabelColor: contrast(@SearchBg, #333333, #ffffff, 55%);   // Search Label Color
@SearchButtonTextColor: #ffffff;              // Search Button Text Color
@SearchCount: #000033;                        // Search Count Text Color
@SearchLinkColor: contrast(@SearchBg, #333333, #ffffff, 55%);    // More/Less and WebRef Links Color
@SearchLinkHover: @PrimaryColor;              // More/Less and WebRef Links Hover Color
@SearchAllSuburbsLinkColor: contrast(@SearchBg, #333333, #ffffff, 55%);          // All Surburbs Link Color
@SearchAllSuburbsLinkHover: @PrimaryColor;    // All Surburbs Link Hover Color

// Search Icon Styling
@SearchMoreIcon: @PrimaryColor;               // More Icon Color
@SearchLessIcon: @PrimaryColor;               // Less Icon Color
@SearchWebRef: @PrimaryColor;                 // WebRef Icon Color
@SearchDropdownIconColor: #ffffff;            // Search Dropdown Icon Color
@SearchTicks: @PrimaryColor;                  // Tick/Check Icon Color

// Sticky Header Styling
@StickyHeaderBG: @HeaderBG;                   // Sticky Header BG
@StickLogoAlign: center;                      // Sticky Logo Horizontal Alignment
@StickyLogoVerticalAlign: bottom;             // Sticky Logo Vertical Alignment
@StickyLogoWidth: 100%;                       // Sticky Logo Width
@StickyLogoHeight: auto;                      // Sticky Logo Height
@StickLabelText: #ffffff;                     // Sticky Input Labels Color
@StickyInputBorders: 1px solid @StickyHeaderBG;       // Sticky Input Borders
@StickyDropdownIconBG: @SearchDropdownIconBG;
@StickyIcon: #ffffff;                         // Sticky Details Icon Color
@StickyTextColor: #ffffff;                    // Details Sticky Price, Icon value Text
@StickyTick: #333333;                         // Sticky property Type Checkbox tick

@FilterButtonBG: @PrimaryColor;               // Sticky Results Filter Button BG
@FilterButtonIcon: #ffffff;                   // Sticky Results Filter Button Icon
@FilterButtonText: #ffffff;                   // Sticky Results Filter Button Text
@FilterButtonRadius: 0;                       // Sticky Results Filter Button Border Radius

// Page Header Styling
@HeaderBorderColor: 1px solid #d6d6d6;        // Page Heading Bottom Border

@FacebookSearchBG: #f2f2f2;                   // FB Search BG
@FacebookMainHeadingBG: @PrimaryColor;        // FB Main Heading BG
@FacebookSectionBG: @SecondaryColor;                  // FB Sub Section Heading BG
@FacebookDropdownBG: @SecondaryColor;                 // FB Dropdown Icon BG
@FacebookDropdownIcon: #ffffff;               // FB Dropdown Icon Color
@FacebookMoreLessWebRef: @PrimaryColor;       // FB More/Less Icon Color
@FacebookMoreLessWebRefLink: #999999;         // FB More/Less Text Color
@FacebookMoreLessWebRefHover: @PrimaryColor;  // FB More/Less Text Hover Color
@FacebookSearch: #dd2d85;                     // FB Search Button BG
@FacebookSearchText: #999999;                 // FB Text Color (Labels, Adv. Search Headings)
@FacebookCount: #999999;                      // FB Search Button Text

@TransparentBottom: rgba(0,0,0,0.7);          // Images Transparent overlay (bottom) - Sole Mandate, Photos, Videos, Student Accomm., etc.
@TransparentTopLeft: @PrimaryColor;           // Images Transparent overlay (top-left) - Featured, New


@ActionButtonBG: #ffffff;                     // Results/Details Back, Get Email Alerts, View My Favourites, Details Tabs BG
@ActionButtonBorder: @ContentBlocksBorder;    // Results/Details Back, Get Email Alerts, View My Favourites, Details Tabs Border
@ActionButtonText: #333333;                   // Results/Details Back, Get Email Alerts, View My Favourites, Details Tabs Text
@ActionButtonIcon: @PrimaryColor;             // Results/Details Back, Get Email Alerts, View My Favourites, Details Tabs Icons
@ActionFavouritesCount: #ffffff;              // Results/Details Sidebar Favourites Count

@ActionFilterDropdownBG: #ffffff;             // Results/Details Sort By, Agent Search, Branch Search Dropdown BG
@ActionFilterDropdownIcon: #333333;           // Results/Details Sort By, Agent Search, Branch Search Dropdown Icon


@NavCounterCurrentBG: #f1f1f1;                // Results current page number BG
@GalleryNavBG: @ContentBlocksAltBG;           // Details Gallery Thumbnail Left/Right BG
@GalleryNavIcon: #333333;                     // Details Gallery Thumbnail Left/Right Icon

@SidebarButtonBG: #ffffff;                    // Results/Details PDF, Print, Scan, Share BG
@SidebarButtonBorder: @ContentBlocksBorder;   // Results/Details PDF, Print, Scan, Share Border
@SidebarButtonText: #333333;                  // Results/Details PDF, Print, Scan, Share Text
@SidebarButtonIcon: #999999;                  // Results/Details PDF, Print, Scan, Share Icon
@SidebarInputBG: #f1f1f1;                     // Forms Input BG
@SidebarInputBorder: none;                    // Forms Input Border
@SidebarInputText: #333333;                   // Forms Input Text
@SidebarInputPlaceholder: #333333;            // Forms Input Placeholder
@SidebarInputHover: darken(#f1f1f1, 2%);      // Currency swap button BG


@OSText: #666666;                             // QR Code Text
@OSIcons: #666666;                            // QR Code Icons

@EmailAlertsIcon: @PrimaryColor;              // Results/Details bottom Email Alerts Icon
@EmailAlertsInputBG: #ffffff;                 // Results/Details bottom Email Alerts Input BG
@EmailAlertsInputText: #333333;               // Results/Details bottom Email Alerts Input Text

@ResultsHeadings: @PrimaryColor;              // Details page-title price
@MakeAnOfferArrowBG: @PrimaryColor;
@MakeAnOfferArrowIcon: #ffffff;

@FeatureIcon: @PrimaryColor;
@FeatureText: #333333;

@ButtonPrimaryBG: @PrimaryColor;
@ButtonPrimaryHover:lighten(@ButtonPrimaryBG, 5%);
@ButtonPrimaryText: #FFFFFF;
@ButtonPrimaryHoverText: #FFFFFF;

@FeaturedPropertyBorder: 4px solid #BDBDBD;
@ListingHoverShadow: rgba(0,0,0,0.05);

@SectionBgColor: #f0f0f0;    // Sections, Footer
@HeadingsColor: @PrimaryColor;     // Heading Font Color
@SubHeadingsColor: #000000;
@ArticleHeadingsColor:@PrimaryColor;
@H1Color: #212121;           // H1

@FooterBgColor: url(/static/img/custom/layout/footer-bg.jpg) repeat-x top #225C96;    // Sections, Footer
@FooterHeadingDisplay: none;
@FooterTextColor: #ffffff;   // Footer Text Color
@FooterLinkHover: #7A98B2;   // Hover Link Color
@FooterDividerColor: rgba(255,255,255,0.8);   // Hover Link Color

@SocialIconsLink: #ffffff;
@SocialIconsLinkHover: #999999;

@ButtonBgColor: #f0f0f0;     // Button Set 1 (print, bookmark...)
@ButtonTextColor: #215c96;   // Footer Color
@ButtonlinkHover: #215c96;   // Hover Link Color
@ButtonIconColor: #215c96;  // Icon Color 2 (brochure, next ...)

/* ----// END //---- */

/* CSS Helpers
------------------------------------------------------------ */
.icon-font(){
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ----// END //---- */

/* Main Background
------------------------------------------------------------ */
html {
  font-size: @BaseFontSize;
  font-family: @FontFamily;
}

.main-content{
  position: relative;
  min-height: 580px;
}
/* ----// END //---- */


/* Header
------------------------------------------------------------ */
.header-content {
  background: @HeaderBG;
}
/* ----// END //---- */



/* Navigation
------------------------------------------------------------ */
.menu {
  position: relative;
  z-index:1000;
  margin:0 auto;
  width:100%;
  background-color: @MenuBG;
}
.menu-content {
  margin: 0 auto;
  width:960px;
}
.menu-bg {
  margin: 0 10px;
  width:940px;
  ul {
    margin:0;
    padding:0;
    list-style:none;
  }
  li {
    position:relative;
    text-transform:@MenuTextTransform;
    font-weight:@MenuFontWeight;
  }
}
// Main Menu Nav
.menu-bg > ul {
  & > li{
    display:inline;
    padding:0;
    float:left;
    position: relative;
    z-index:1000;
    & > a {
      color:@MenuLinkText;
      background:@MenuLinkBG;
      display:block;
      border-right:@MenuLinkBorderRight;
      font-size: 0.8rem;
      padding: 0 21px;
      line-height: 2.25rem;
      position: relative;
      z-index:1000;
    }
    // Menu Hover
    &:hover > a {
      color:@MenuLinkHoverText;
      background:@MenuLinkHoverBG;
    }
    // Menu Active
    &.active > a {
      color:@MenuLinkActiveText;
      background:@MenuLinkActiveBG;
    }
    &.active:hover > a {
      color:@MenuLinkActiveHoverText;
      background:@MenuLinkActiveHoverBG;
    }
  }
}

.menu-bg > ul > li > ul > li {
  width: 100%;
  white-space: nowrap;
  a{
    color:@SubMenuLinkText;
    background:@SubMenuLinkBG;
    padding: 0 12px;
    font-size: 0.76rem;
    line-height: 1.5rem;
    display:block;
    border-bottom:@SubMenuBorderBottom;
  }
  a:hover{
    color:@SubMenuLinkHoverText;
    background:@SubMenuLinkHoverBG;
  }
}

/* Menu Animation: Slide Down */

.slideDown .menu-bg > ul > li {
  & > ul {
    height:auto;
    opacity:1;
    top: -999px;
  }
  &:hover > ul{
    top: 100%;
    opacity:1;
  }
}

/* Menu Animation: Fade In Up */

.fadeInUp .menu-bg > ul > li {
  & > ul {
    height:0;
    opacity:0;
    top: 200%;
  }
  &:hover > ul {
    height: auto;
    top: 100%;
    opacity:1;
  }
}

/* Menu Animation: Fade In */

.fadeIn .menu-bg > ul > li {
  & > ul {
    opacity:0;
    top: 100%;
    height:0;
  }
  &:hover > ul {
    height: auto;
    opacity:1;
  }
}
/* ----// END //---- */

/* Slider */
.header-image {
  width:100%;
  min-height:@HeaderImageHeight;
  z-index:9;
  position:relative;
  min-width: 940px;
  overflow: hidden;
}

.resizer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

#rndList {
  height: 100%;
  width: 100%;
  z-index: -1;
  list-style: none;
  margin: 0;
  padding: 0;
}
#rndList li {
  height: 100%;
  width: 100%;
  position: relative;
  display: none;
  .background-size(cover);
  background-position: center center;
}
/* ----// END //---- */

/* Search
------------------------------------------------------------ */


.adv_search_container {
  background: @SearchBg;
  font-size: @BaseFontSize;
  z-index:1100;
  position: relative;
  font-size:0.8rem;
}
.adv_search_box1 {
  background: @SearchBackBg;
}
.select2-container .select2-choice,
.select2-container-multi .select2-choices {
  border: 1px solid @SearchBorders;
}
.select2-drop {
  border: 1px solid @SearchBorders;
}
.select2-container .select2-choice abbr {
  background: @SearchDropdownIconBG
}
.select2-container .select2-choice .select2-arrow b {
  background: @SearchDropdownIconBG;
  text-align: center;
  font-size: 12px;
}
.select2-container .select2-choice .select2-arrow b:before {
  .icon-font();
  color: @SearchDropdownIconColor;
}


fieldset p > input[type="checkbox"] + label:before {
  background: @SidebarInputBG;
  border: @SidebarInputBorder;
}

fieldset p > input[type="checkbox"]:checked + label:after {
  color: @SidebarButtonText;
}
#adv_search_properties, #adv_search_suburbs  {
  fieldset p > input[type="checkbox"] + label:before {
    background: @SearchTicksBG;
    width:14px;
    height: 14px;
    border: 1px solid @SearchBorders;
  }
  fieldset p > input[type="checkbox"]:checked + label:after {
    color: @SearchTicks;
  }
}

.adv_search_heading {
  color: @SearchLabelColor;
}

.more_search_options_link:before {
  color: @SearchMoreIcon;
}

.less_search_options_link:before {
  color: @SearchLessIcon;
}

.web_ref_search_link a:before {
  color: @SearchWebRef;
}

.adv_search_webref_back_link a:before {
  color: @SearchWebRef;
}

input::-webkit-input-placeholder {
  color: @PlaceholderColor !important;
  opacity: 1;
}
input::-moz-placeholder{
  color: @PlaceholderColor !important;
  opacity: 1;
}
input:-moz-placeholder {
  color: @PlaceholderColor !important;
  opacity: 1;
}
input:-ms-input-placeholder{
  color: @PlaceholderColor !important;
  opacity: 1;
}
.id_reference_number {
  border: 1px solid @SearchBorders;
}

.webref_button {
  color: @SearchButtonTextColor;
  background:  @SearchButtonBG;
  .border-radius(@SearchButtonBorderRadius);
}

.id_neighbouring_suburbs a {
  color: @SearchAllSuburbsLinkColor;
  &:hover{
    color: @SearchAllSuburbsLinkHover;
  }
}

/* Search Buttons */

#id_web_ref_search_link a {
  color: @SearchLinkColor;
  text-decoration: none;
  &:hover{
    color: @SearchLinkHover;
  }
}

#adv_search_webref_back_link a {
  color: @SearchLinkColor;
  text-decoration: none;
  &:hover{
    color: @SearchLinkHover;
  }
}

#adv_search_more_less_container a {
  color: @SearchLinkColor;
  text-decoration: none;
  &.less_search_options_link{
    color: @SearchLinkColor;
    text-decoration: none;
    &:hover{
      color: @SearchLinkHover;
    }
  }
  &:hover{
    color: @SearchLinkHover;
  }
}



#id_property_count {
  color: @SearchCount;
}

#adv_search_suburbs label {
  color: @SearchLabelColor;
  font-weight: normal;
}
#adv_search_properties label{
  color: @SearchLabelColor;
  font-weight: normal;
}

.id_as_price_from,
.id_as_price_to,
.id_as_price_from_278,
.id_as_price_to_278,
.id_as_size_from,
.id_as_size_to {
  border: solid 1px @SearchBorders;
}
/* ----// END //---- */


/* Results: Sticky Header */

.sticky-header{
  background: @StickyHeaderBG;
}

.sticky-header .sticky-logo{
  text-align: @StickLogoAlign;
}

.sticky-header .sticky-logo img{
  position: relative;
  max-width: @StickyLogoWidth;
  display: inline-block;
  vertical-align: @StickyLogoVerticalAlign;
  height: @StickyLogoHeight;
}

#sticky-filters-form label{
  color: @StickLabelText;
  display: block;
  margin-bottom: 4px;
}

.maxi-dropdown{
  .select2-results .select2-selected{
    &:after{
      color: @StickyTick;
    }
  }
}

.sticky-header .input {
  border:  @StickyInputBorders;
}

.sticky-header{
  .select2-container .select2-choice .select2-arrow b{
    background: @StickyDropdownIconBG;
  }
}

.sticky-header .filter-submit{
  background: @FilterButtonBG;
  color: @FilterButtonText;
  .border-radius(@FilterButtonRadius);
}

.sticky-header .filter-submit .icon-sticky-filter{
  color: @FilterButtonIcon;
}

.sticky-header .filter-submit .icon-sticky-filter:before{
  .icon-font;
  color: @FilterButtonIcon;
  content: "\f00e";
  position:relative;
}

.sticky-header .filter-text{
  color: @StickLabelText;
}

/* Results: Actions */

.action-button{
  background: @ActionButtonBG;
  color: @ActionButtonText;
}

.action-button > a{
  border: @ActionButtonBorder;
}

#results-map{
  color: @ActionButtonText;
  box-sizing: border-box;
}

#results-map .icon-map-pin{
  color: @ActionButtonIcon;
}

.header-bordered{
  border-top: @HeaderBorderColor;
  border-bottom: @HeaderBorderColor;
}

.header-bottom-bordered{
  border-bottom: @HeaderBorderColor;
}

#results-filter .vSelectField .select2-choice,
.sidebar-contact-form .vSelectField .select2-choice,
.header-bordered .vSelectField .select2-choice{
  background: @DefaultDropdownBG;
  border: @DefaultDropdownBorder;
  line-height: 32px;
}

#results-filter .vSelectField .select2-choice .select2-arrow b,
.sidebar-contact-form .vSelectField .select2-choice .select2-arrow b,
.header-bordered .vSelectField .select2-choice .select2-arrow b{
  background: @DefaultDropdownBG;
  line-height: 32px;
}
#results-filter .vSelectField .select2-choice .select2-arrow b:before,
.sidebar-contact-form .vSelectField .select2-choice .select2-arrow b:before,
.header-bordered .vSelectField .select2-choice .select2-arrow b:before{
  .icon-font;
  color: @DefaultDropdownIcon;
  content: "\f0dc";
  font-size: 17px;
}

#results-alerts{
  color: @ActionButtonText;
  z-index: 902;
}

#results-alerts .icon-alerts{
  color: @ActionButtonIcon;
}

.results-alerts-mini{
  background: @ActionButtonBG;
  border: @ActionButtonBorder;
}

#results-favourites{
  color: @ActionButtonText;
  box-sizing: border-box;
}

#results-favourites .icon-favourites{
  color: @ActionButtonIcon;
}

#results-favourites .icon-favourites .count{
  color: @ActionFavouritesCount;
}


/* Results: Map */

#results-map-details{
  background: @ContentBlocksBG;
  color: @ContentBlocksText;
  .map-details-close{
    background: @ContentBlocksBG;
    border:@ContentBlocksBorder;
  }
  .property-list-details{
    border-right:@ContentBlocksBorder;
    border-bottom:@ContentBlocksBorder;
  }
}

#results-map-details:before{
  border-right:15px solid @ContentBlocksBG;
}

/* Results: Navigation */

.top-nav-counter-list li.now{
  background: @NavCounterCurrentBG;
  font-weight: 600;
}

.top-nav-counter-list li span{
  font-family: @FontFamily;
}

/* Results: Sidebar */

.sidebar-button{
  background: @SidebarButtonBG;
  color: @SidebarButtonText;
}

.sidebar-button a{
  border: @SidebarButtonBorder;
}

.sidebar-button i{
  background: @SidebarButtonBG;
}

.sidebar-button.active a{
  border-bottom: 1px solid @SidebarButtonBG;
}

#sidebar-print.active a, #sidebar-pdf a{
  border-bottom: @SidebarButtonBorder;
}

#sidebar-pdf .icon-sidebar-pdf{
  color: @SidebarButtonIcon;
}

#sidebar-print .icon-sidebar-print{
  color: @SidebarButtonIcon;
}

#sidebar-scan .icon-sidebar-scan{
  color: @SidebarButtonIcon;
}

#sidebar-share .icon-sidebar-share{
  color: @SidebarButtonIcon;
}


#sidebar-qr-code,
#sidebar-social-sharing
{
  background: @ContentBlocksBG;
  color: @ContentBlocksText;
  border: @ContentBlocksBorder;
}

.sidebar-qr-code .qr-code-grey{
  color: @OSText;
}

.operating-systems .icon-android{
  color: @OSIcons;
}

.operating-systems .icon-apple{
  color: @OSIcons;
}

.operating-systems .icon-windows{
  color: @OSIcons;
}

.operating-systems .icon-blackberry{
  color: @OSIcons;
}

.sidebar-contact{
  background: @ContentBlocksBG;
  color: @ContentBlocksText;
  border: @ContentBlocksBorder;
  padding: 20px;
}

.sidebar-email-friend fieldset p > input[type="checkbox"] + label:before,
.sidebar-contact fieldset p > input[type="checkbox"] + label:before
{
  background: @SidebarInputBG;
  border: @SidebarInputBorder;
}

.sidebar-input, .sidebar-textarea, .sidebar-date{
  background: @SidebarInputBG;
  color: @SidebarInputText;
  width: 100%;
  border: @SidebarInputBorder;
  box-sizing: border-box;
}

.sidebar-contact-form .vSelectField,
#make-an-offer-form .vSelectField,
.form-section .vSelectField {
  .select2-choice, .select2-choices{
    background: @SidebarInputBG !important;
    color: @SidebarInputText !important;
  }
  .select2-arrow b{
    background: @SidebarInputBG !important;
    color: @SidebarInputText !important;
    &:before{
      color: @SidebarInputText !important;
    }
  }
}
.sidebar-dropdown{
    background: @SidebarInputBG !important;
    color: @SidebarInputText !important;
}
.sidebar-input::placeholder, .sidebar-textarea::placeholder, .full-input::placeholder{
  color: @SidebarInputPlaceholder !important;
  opacity: 1
}
.sidebar-input::-webkit-input-placeholder, .sidebar-textarea::-webkit-input-placeholder, .full-input::-webkit-input-placeholder{
  color: @SidebarInputPlaceholder !important;
  opacity: 1
}
.sidebar-input:-moz-placeholder, .sidebar-textarea:-moz-placeholder, .full-input:-moz-placeholder{
  color: @SidebarInputPlaceholder !important;
  opacity: 1
}
.sidebar-input::-moz-placeholder, .sidebar-textarea::-moz-placeholder, .full-input::-moz-placeholder{
  color: @SidebarInputPlaceholder !important;
  opacity: 1
}
.sidebar-input:-ms-input-placeholder, .sidebar-textarea:-ms-input-placeholder,.full-input:-ms-input-placeholder{
  color: @SidebarInputPlaceholder !important;
  opacity: 1
}

/* Results: Map Canvas */

.icon-agent-phone:before{
  color: @PrimaryColor;
}
.icon-agent-search:before{
  color: @PrimaryColor;
}



/* Results: Results List */

#results-list .property-list-item{
  background: @ContentBlocksBG;
  border:@ContentBlocksBorder;
  color: @ContentBlocksText;
}

#results-list .property-list-item.featured {
  border: @FeaturedPropertyBorder;
}

#results-list .property-list-item .property-list-link:hover{
  background: @ContentBlocksHoverBG;
}

#results-list .property-list-meta{
  color: @FeatureText;
}

#results-list .property-list-webref{
  color: @FeatureText;
}

.property-list-item .icon-beds,
.property-list-item .icon-baths,
.property-list-item .icon-garages,
.property-list-item .icon-openparking{
  color: @FeatureText;
  &:before{
    color: @FeatureIcon;
  }
}

/* Results: Results List Extras */


.no-favourites-highlight{
  border-left: 6px solid @PrimaryColor;
  &:before{
    border-right: 15px solid @PrimaryColor;
  }
}

#results-list .property-list-inject{
  background: @ContentBlocksBG;
  border: @ContentBlocksBorder;
  padding: 20px;
}

.box-alt-bg{
  background: @ContentBlocksAltBG;
  border: @ContentBlocksAltBorder;
}


/* Results: Results List Extras - Area Profiles */


#results-list .block-content{
  color: @ContentBlocksText;
}

#results-list .property-list-news-article-box .news-article-content{
  color: @ContentBlocksText;
}


/* Results: Results List Extras - Email Alerts */


.results-email-alerts-box .icon-email-alerts:before{
  color: @EmailAlertsIcon;
}

.email-alerts-mini-close{
  background: @ContentBlocksBG;
  border:@ContentBlocksBorder;
}

.results-email-alerts-box .full-input{
  background: @EmailAlertsInputBG;
  color: @EmailAlertsInputText;
}


/* Details: Listing action buttons */

#listing-back .icon-arrow-back{
  color: @ActionButtonIcon;
}


/* Details: Listing Sections */

.content-block {
  background: @ContentBlocksBG;
  border: @ContentBlocksBorder;
  color: @ContentBlocksText;
}

.content-block h1#listing-price{
  color: @ResultsHeadings;
}

.property-list-meta .icon-beds,
.property-list-meta .icon-baths,
.property-list-meta .icon-garages,
.property-list-meta .icon-openparking{
  color: @FeatureText;
  &:before{
    color: @FeatureIcon;
  }
}

#details-list .listing-media-tabs .action-button.active a{
  border-bottom: 1px solid @ContentBlocksBG;
}

#details-list .icon-camera{
  color: @ActionButtonIcon;
}

#details-list .action-button .icon-video{
  color: @ActionButtonIcon;
}

#details-list .icon-tour{
  color: @ActionButtonIcon;
}

#details-list .icon-progress{
  color: @ActionButtonIcon;
}

#details-list .icon-floorplan{
  color: @ActionButtonIcon;
}

.new-dev-banners{
  border: @ContentBlocksBorder;
}

.gallery-thumbnails .counter-overlay{
  background: @TransparentBottom;
}

.gallery-thumbnails .thumbs-prev{
  background: @GalleryNavBG;
  i:before{
    color: @GalleryNavIcon;
  }
}

.gallery-thumbnails .thumbs-next{
  background: @GalleryNavBG;
  i:before{
    color: @GalleryNavIcon;
  }
}

.listing-description p{
  color: @ContentBlocksText;
}
.listing-features-content ul li:before {
  color: @PrimaryColor;
}
.listing-features h5{
  font-size: 0.8rem;
}
.icon-yes{
  &:before{
    color: @PrimaryColor;
  }
}

.listing-on-show .on-show-get-directions .directions-input{
  background: @SidebarInputBG;
}

.listing-downloads .document-table tr:nth-child(2n+2),
.listing-downloads .document-table tr.alt,
.offer-history-table tr.alt{
  background: @SidebarInputBG;
}

#details-list .listing-map-tabs .action-button.active a{
  border-bottom: 1px solid @ContentBlocksBG;
}


#details-list .icon-map{
  color: @ActionButtonIcon;
}

#details-list .icon-streetview{
  color: @ActionButtonIcon;
}

#details-list .icon-amenities{
  color: @ActionButtonIcon;
}

#id_amenities_info td a{
  &:hover{
    color: @LinkActive;
  }
}

.transparent-black{
  background: @TransparentBottom;
}

.transparent-red.top-left, .transparent-black.sold, .transparent-black.rented, .transparent-black.pending  {
  background: @TransparentTopLeft;
}

#make-an-offer-form input.full-input{
  background: @SidebarInputBG;
  color: @SidebarInputText;
}

#make-an-offer-form input.mega-input{
  background: @SidebarInputBG;
  color: @SidebarInputText;
}

#make-an-offer-form fieldset p > input[type="checkbox"] + label:before{
  background: @SidebarInputBG;
}

#make-an-offer-form fieldset p > input[type="checkbox"]:checked + label:before{
  background: @SidebarInputBG;
}

#make-an-offer-form fieldset p > input[type="checkbox"]:checked + label:after{
  color: @SidebarInputText;
}

.input-number .number-control-up{
  background: @MakeAnOfferArrowBG;
}

.input-number .number-control-up .icon-arrow-up:after{
  border-bottom: 1px solid @MakeAnOfferArrowIcon;
}

.input-number .number-control-up .icon-arrow-up:before{
  color: @MakeAnOfferArrowIcon;
}

.input-number .number-control-down{
  background: @MakeAnOfferArrowBG;
}

.input-number .number-control-down .icon-arrow-down:before{
  color: @MakeAnOfferArrowIcon;
}


.navigation-thumbnails .thumbs-prev{
  background: @ContentBlocksAltBG;
}

.navigation-thumbnails .thumbs-next{
  background: @ContentBlocksAltBG;
}

.navigation-thumbnails li{
  &.current{
    border-top: 6px solid @PrimaryColor;
  }
}

#sticky-details{
  color: @StickyTextColor;
}

#sticky-details .sticky-price{
  color: @StickyTextColor;
}

#sticky-details .sticky-details-meta .icon-beds,
#sticky-details .sticky-details-meta .icon-baths,
#sticky-details .sticky-details-meta .icon-garages,
#sticky-details .sticky-details-meta .icon-openparking{
  color: @StickyTextColor;
  &:before{
    color: @StickyIcon;
  }
}

#calculators{
  .calculator-inputs{
    .detail-more{
      .icon-info-circle:before{
        color: @SiteTextColor;
      }
    }
    input:not(.select2-input){
      background: @SidebarInputBG;
      color: @SidebarInputText;
    }
  }
  .income-table, .expense-table{
    input[type="text"]:not(.select2-input),
    input[type="number"]:not(.select2-input){
      background: @SidebarInputBG;
      color: @SidebarInputText;
    }

    .currency-placeholder{
      color: @SidebarInputText;
    }
  }
  .select2-arrow b{
    background: @ActionFilterDropdownBG;
    &:before{
      color: @ActionFilterDropdownIcon;
    }
  }
}

.divider{
  border-top: @ContentBlocksBorder;
}

#calculator-tabs .action-button.active a{
  border-bottom: 1px solid @ContentBlocksBG;
}

.form-section{
  border-top: @ContentBlocksBorder;
  .pull-left {
    input[type='text']:not(.select2-input), input[type='email'], input[type='number']{
      background: @SidebarInputBG;
      color: @SidebarInputText;
      border: @SidebarInputBorder;
    }
    textarea{
      background: @SidebarInputBG;
      color: @SidebarInputText;
      border: @SidebarInputBorder;
    }
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
  color: @SidebarInputPlaceholder !important;
  }
  input:-moz-placeholder, textarea:-moz-placeholder{
    color: @SidebarInputPlaceholder !important;
  }
  input::-moz-placeholder, textarea::-moz-placeholder{
    color: @SidebarInputPlaceholder !important;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder{
    color: @SidebarInputPlaceholder !important;
  }
}

.quick-search:before{
  color: @ActionFilterDropdownIcon;
}


.branch-meta, .area-profile-properies{
  .border-left:before{
    border-right: @ContentBlocksBorder;
  }
}

.meta-section{
  border-top: @ContentBlocksBorder;
}

/* Latest Newsletter Bubble */

.issue-bubble{
  background: @SecondaryColor;
  &:hover{
    color: contrast(@SecondaryColor, #333333, #ffffff, 55%)
  }
  &:after{
    border-color: @SecondaryColor rgba(0, 0, 0, 0);
  }
}

/* News Results */

.divider-line{
  border-top:@ContentBlocksBorder;
}

#sidebar-categories .category-list{
  border-top: @ContentBlocksBorder;
  li{
    border-bottom: @ContentBlocksBorder;
  }
}

.article-block{
  .article-image{
    border: @ContentBlocksBorder;
  }
}

.comments-block{
  &:after{
    border-color: @ContentBlocksBG rgba(0, 0, 0, 0);
  }
  &:before{
    border-top: @ContentBlocksBorder;
  }
}

.area-profile-listings-box{
  border: @ContentBlocksBorder;
  .area-profile-property-links{
    a:after{
      background:@ContentBlocksText;
    }
  }
}


/* Headings
------------------------------------------------------------ */
h1 {
  font-family:@FontFamily;
  font-size: 1.8rem;
  line-height: 1;
  color:@H1Color;
  font-weight:300;
}

h2 {
  font-family:@FontFamily;
  font-size:1.6rem;
  line-height: 1;
  color:@SecondaryColor;
  font-weight:300;
  text-transform: uppercase;
}

h3 {
  font-family:@FontFamily;
  font-size:1.5rem;
  color:@PrimaryColor;
  line-height: 1;
  font-weight:600;
  margin:0px;
}

h4 {
  font-family:@FontFamily;
  font-size:1.25rem;
  color:#333333;
  line-height: 1;
  font-weight:600;
  margin:0px;
}

h5 {
  font-family:@FontFamily;
  font-size:1.1rem;
  color:#333333;
  line-height: 1;
  font-weight:600;
  margin:0px;
}

h1.page-heading {
  font-family:@FontFamily;
  font-size: 1.8rem;
  font-weight:300;
  color:@H1Color;
}

.heading-price{
  color: @PrimaryColor;
}

.sub-headings {
  font-family:@FontFamily;
  font-size:1.125rem;
  color:@SubHeadingsColor;
  display: block;
  width: 100%;
  line-height:1;
  font-weight: 400;
  margin-bottom: 10px;
}

.sub-headings-alt{
  color:@HeadingsColor;
  font-size:1.125rem;
  line-height:1;
  font-weight: 400;
  margin-bottom: 10px;
}

.quote {
  font-size: 150%;
}

.headings {
  font-family:@FontFamily;
  font-size:1.4rem;
  color:@HeadingsColor;
  display: block;
  width: 100%;
  line-height:1;
  font-weight: 400;
}

.main-headings {
  font-family:@FontFamily;
  font-size:1.4rem;
  color:@HeadingsColor;
  display: block;
  width: 100%;
  line-height:1;
  font-weight: 300;
  text-transform: none;
}

.article-headings {
  font-family:@FontFamily;
  font-size:1.325rem;
  color: @ArticleHeadingsColor;
  font-weight: 400;
}


/* ----// END //---- */


/* Bullets
------------------------------------------------------------ */
.bullets li:before {
  color: @PrimaryColor;
}

/* ----// END //---- */


/* Links
------------------------------------------------------------ */
a {
  color: @LinkActive;
  text-decoration: none;
  &:hover {
    color: @LinkHover;
  }
}

a.news-heading-link {
  color: @LinkActive;
  text-decoration: none;
  &:hover{
    color: @LinkHover;
  }
}

#footer-social{
  color: @SocialIconsLink;
  .social:before {
    .icon-font();
    content: attr(data-icon);
    color: @SocialIconsLink;
    font-size: 36px;
    position: relative;
    line-height: 40px;
    top: auto;
    left: auto;
  }
  .social:hover{
    &:before{
      color: @SocialIconsLinkHover;
    }
  }
  /* ----// END //---- */
}

ul.footer-logos li:first-of-type{
  margin-left: 0;
}

#footer-navigation-links .footer-divider{
  opacity: 0;
}

#footer-heading{
  display: @FooterHeadingDisplay;
}


/* ----// END //---- */


/* Buttons
------------------------------------------------------------ */

.primary-button{
  background: @ButtonPrimaryBG;
  color: @ButtonPrimaryText;
  &:hover{
    background: @ButtonPrimaryHover;
    color: @ButtonPrimaryHoverText;
  }
}
.secondary-button{
  background: @SidebarInputBG;
  color: @SidebarInputText;
  &:hover{
    background: @SidebarInputHover;
    color: @SidebarInputText;
  }
}

/* ----// END //---- */



/* Footer
------------------------------------------------------------ */

.footer-content {
  color:@FooterTextColor;
  font-size:0.7rem;
  background: @FooterBgColor;
}

.footer-content h2 {
  color:@FooterTextColor;
}

.footer-content a{
  color:@FooterTextColor;
  &:hover {
    color:@FooterLinkHover;
  }
}

.footer-divider {
  border-bottom: 1px solid @FooterDividerColor;
}

.pd-icon:before {
  color: @FooterTextColor;
}

/* ----// END //---- */

.pd_modal_mini{
  background: @ContentBlocksBG;
}
.pp_close{
  .border-radius(0);
}

.pd_nav_left, .pd_nav_right{
  background: @ContentBlocksAltBG;
}

.pd_modal_controls .counter{
  color:@ContentBlocksText;
}

.pd_modal_title{
  border-bottom: @ContentBlocksBorder;
  color:@H1Color;
}

.captcha-background{
  border: @ContentBlocksBorder;
}

/* FACEBOOK
------------------------------------------------------------ */
.facebook-search  {
  background: @FacebookMainHeadingBG;
}

#facebook-overview .adv_search_box1 {
  background: @FacebookSearchBG;
}

#facebook-overview .select2-container .select2-choice .select2-arrow b {
  background: @FacebookDropdownBG;
}

#facebook-overview .adv_search_heading {
  color: @FacebookSearchText;
}

#facebook-overview #id_property_count {
  color: @FacebookCount;
}

#facebook-overview #adv_search_more_less_container a {
  color: @FacebookMoreLessWebRefLink;
  &:hover {
    color: @FacebookMoreLessWebRefHover;
  }
}

#facebook-overview #adv_search_webref_back_link a {
  color: @FacebookMoreLessWebRefLink;
  &:hover {
    color: @FacebookMoreLessWebRefHover;
  }
  &:before {
    color: @FacebookMoreLessWebRef;
  }
}

#facebook-overview #id_neighbouring_suburbs a {
  color: @FacebookMoreLessWebRefLink;
  &:before {
    color: @FacebookMoreLessWebRef;
  }
  &:hover {
    color: @FacebookMoreLessWebRefHover;
  }
}

#facebook-overview #id_web_ref_search_link a {
  color: @FacebookMoreLessWebRefLink;
  &:hover {
    color: @FacebookMoreLessWebRefHover;
  }
  &:before {
    color: @FacebookMoreLessWebRef;
  }
}

#facebook-overview #adv_search_suburbs label {
  color: @FacebookSearchText;
}

#facebook-overview #adv_search_properties label {
  color: @FacebookSearchText;
}

.facebook-listings {
  background: @FacebookSectionBG;
}
/* ----// END //---- */


@media print{
  .transparent-red{
    background: @SecondaryColor;
  }
}


/*
** HOMEPAGE - FEATURED PROPERTIES
*/

@import url("../templates/std-2-featured-properties.less");

/*
** HOMEPAGE - FEATURED NEWS ARTICLES
*/

@import url("../templates/std-2-news-articles.less");
