{% extends "eos_base.html" %}
{% block favicon %}
    <LINK REL="icon" HREF="/assets/favicon.ico" TYPE="image/x-icon">
    <LINK REL="shortcut icon" HREF="/assets/favicon.ico" TYPE="image/x-icon">
    <LINK REL="shortcut icon" HREF="/assets/favicon.png" TYPE="image/x-icon">
{% endblock favicon %}


{% block js-headings %}
<!--If your heading uses a font that is not compatible please follow the instrcutions below 
Step 1: Go to http://cufon.shoqolate.com/generate/ and generate your font. 
Step 2: Save the javascript file you recieved from the website above
Step 3: Update the javascript link below, change 'Your Generated Font.js' with what your file is called.
Step 4: specify what you want the script to replace--> 
<script type="text/javascript" src="/eos/js/cufon-yui.js"></script>
<script type="text/javascript" src="/assets/js/Neuropol_400-Neuropol_400-Neuropol_400-Neuropol_400.font.js"></script>
<script type="text/javascript">
    Cufon.replace('h1');
</script>
{% endblock js-headings %}
