{% extends "eos_contact_us.html" %}


{% block content %}
    <div id="contact-breadcrumbs" class="column span-22 last border-bottom1">
        <div id="contact-breadcrumbs-navigation">
            <p class="last font-size11">
                <span class="breadcrumbs-dark">You are here:</span> <span class="breadcrumbs-light"><a href="/" class="other">{{ site_name }}</a> / <a href="/contact/" class="other">Contact Us</a></span>
            </p>
        </div>
        <div id="contact-breadcrumbs-heading">
            <h1 class="last">Contact Us</h1>
        </div>
    </div>
  
    <!-- START: Quick Search -->
    <div id="quick-search" class="column font-size11 span-22 border-bottom1 print-hide last">
    	{% include 'includes/eos_contact_us_quick_search.html' %}
    </div>
    <!-- END: Quick Search -->

    <!-- START: Head Office Details -->
    {% if head_office %}
        {% for branch in head_office %}
                <h1>Head Office</h1>    
                <div id="contact-details-head-office" class="column last company-gallery-bg">
                    <div class="column span-21 last">
                        <div class="column heading-icon print-hide margin-bottom-none"><img src="/assets/img/custom/property-search/details/contact-icon.jpg" /></div>
                        <div class="column last span-788">
                            <div class="column last">
                                <a name="{{ branch.branch_name }}" id="{{ branch.branch_name }}"></a>
                                <h2 id="{{ branch.branch_name|slugify }}">{{ branch.branch_name|upper }}</h2>
                            </div>
                            {% if facebook_addon %}
                                {% if branch.facebook_url %}
                                    <div id="id_branch_facebook_{{ branch.id }}" class="columnRight" style="padding-top:5px;">
                                        <div class="column"><a href="{{ branch.facebook_url }}" target="_blank">Follow {{ branch.branch_name }} on Facebook</a></div>
                                        <div class="column last"><a href="{{ branch.facebook_url }}" target="_blank"><img src="/eos/img/bookmark/facebook.jpg" alt="Follow {{ branch.branch_name }} on Facebook" title="Follow {{ branch.branch_name }} on Facebook"/></a></div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="column margin-bottom10 margin-top5 last"><img src="/eos/img/property-search/details/property-finance-divider.gif" /></div>
                
                    {% include 'includes/eos_contact_us_details.html' %}
                </div>
        {% endfor %}
        <div class="clear">&nbsp;</div>
    {% endif %}
    <!-- END: Head Office Details -->

    <!-- START: Branch Details -->
    {% regroup branch_list by province as branch_province_list %}
        {% for branch_province in branch_province_list %}
	        <h1>{{ branch_province.grouper }}</h1>		
	        {% for branch in branch_province.list %}
                <div id="contact-details" class="column last company-gallery-bg">
                    <div class="column span-21 last">
                        <div class="column heading-icon print-hide margin-bottom-none"><img src="/assets/img/custom/property-search/details/contact-icon.jpg" /></div>
                        <div class="column last span-788">
    				        <div class="column last">
    					        <a name="{{ branch.branch_name }}" id="{{ branch.branch_name }}"></a>
    					        <h2 id="{{ branch.branch_name|slugify }}">{{ branch.branch_name|upper }}</h2>
    				        </div>
    				        {% if facebook_addon %}
    					        {% if branch.facebook_url %}
				                    <div id="id_branch_facebook_{{ branch.id }}" class="columnRight" style="padding-top:5px;">
                                        <div class="column"><a href="{{ branch.facebook_url }}" target="_blank">Follow {{ branch.branch_name }} on Facebook</a></div>
					                    <div class="column last"><a href="{{ branch.facebook_url }}" target="_blank"><img src="/eos/img/bookmark/facebook.png" alt="Follow {{ branch.branch_name }} on Facebook" title="Follow {{ branch.branch_name }} on Facebook"/></a></div>
				                    </div>
    				            {% endif %}
    			            {% endif %}
                        </div>
                    </div>
                    <div class="column margin-bottom10 margin-top5 last"><img src="/eos/img/property-search/details/property-finance-divider.gif" /></div>

                    {% include 'includes/eos_contact_us_details.html' %}
                </div>
            {% endfor %}
            <div class="clear">&nbsp;</div>
        {% endfor %}
    <!-- END: Branch Details -->
{% endblock content %}