<!-- Header -->
<span style="display:none" id="id_flash_header">
    <div class="header print-hide">
        <div class="header-content"><img src="/assets/img/custom/layout/logo.jpg" /></div>
    </div>
</span>
<span id="id_static_header" style="display:none">
    <div class="header print-hide">
        <div class="header-content"><img src="/assets/img/custom/layout/logo.jpg" /></div>
    </div>
</span>
{% block js %}
<script type="text/javascript">
$(document).ready(function(){
  if(flash_detect().notSupported()) { //Static header
    $('#id_static_header').toggle();
	$('#id_flash_header').hide();
  } else { //flash header
	$('#id_flash_header').toggle();   
  }
});
</script>
{% endblock js %}
<!-- Header 
<div class="header print-hide">
	<div class="header-content">
	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="100%" height="209">
        <param name="movie" value="/assets/img/custom/flash/header.swf?where={% if swf_param %}{% ifequal swf_param 'home' %}{{ swf_param }}{% else %}other{% endifequal %}{% else %}other{% endif %}" />
    	    <param name="quality" value="high" />
			<param name="allowScriptAccess" value="sameDomain" />
			<param name="allowFullScreen" value="false" />
			<param name="wmode" value="transparent" />
        <embed src="/assets/img/custom/flash/header.swf?where={% if swf_param %}{% ifequal swf_param 'home' %}{{ swf_param }}{% else %}other{% endifequal %}{% else %}other{% endif %}" wmode="transparent" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="100%" height="209"></embed>
    </object>
    </div>
</div>-->

<!-- Search -->
{% include 'includes/eos_search.html' %}

<!-- Navigation -->
{% include 'includes/eos_navigation.html' %}




