{% extends "eos_listings_details_commercial_to_let.html" %}

{% block comm-to-let %}
<!-- PHOTO GALLERY -->
<div class="column last width377 margin-top20">
    <div class="column last headings">PHOTO GALLERY</div>
    <div id="photo-gallery" class="column last photo-gallery-bg print-hide">
        {% include 'includes/eos_listings_details_photo_gallery.html' %}   
    </div>
</div>    
<!-- // PHOTO GALLERY -->

<!-- PROPERTY DETAILS -->
<div class="columnRight width460 margin-top20">
    <div class="column last headings">PROPERTY DETAILS</div>
    <div id="property-details" class="columnRight span-29 last">
        <div id="property-details-bg" class="column property-details-bg print-hide"><!-- This div is closed in the include -->
            {% include 'includes/eos_listings_details_property_details.html' %}
    </div>
</div>    
<!-- // PROPERTY DETAILS -->

<!-- NOTES -->
<div class="columnRight width460 margin-top30">
    <div class="column last headings">NOTES</div>    
    <div id="notes-bg-top" class="columnRight notes-bg print-hide">
        {% include 'includes/eos_listings_details_notes.html' %}
    </div>
</div>    
<!-- --> 

<!-- KEY FEATURES / AMENITIES -->
<div class="column last width377 margin-top30">
    <div class="column last headings">
            {% ifequal listing.get_main_type 'NewDevelopment' %}
                KEY FEATURES / AMENITIES
            {% else %}
                FEATURES
            {% endifequal %}
    </div>    
    <div id="property-features" class="column property-features-bg print-hide last">
        {% ifequal listing.get_main_type 'Commercial' %}
        	{% include 'includes/eos_listings_details_commercial_features.html' %}
        {% endifequal %}
    </div>
</div>    
<!-- // KEY FEATURES / AMENITIES -->

<!-- COMMERCIAL TO LET - LEASE DETAILS -->
{% ifequal listing.listing_type 'Commercial To Let' %}
<div class="column last span-887 margin-top30">
    <div class="column last headings">LEASE DETAILS</div>    
    <div id="lease-details-com-to-let" class="column last on-show-bg print-hide print-hide">
        {% include 'includes/eos_listings_details_lease_details_com_to_let.html' %}
    </div>
</div>    
{% endifequal %}
<!-- // COMMERCIAL TO LET - LEASE DETAILS -->

<!-- MAKE AN OFFER --> 
{% if make_an_offer_form %}
<div class="column last span-887 margin-top30">
    <div class="column last headings">MAKE AN OFFER</div>     
    <div class="column last make-an-offer-bg print-hide"> <!-- closed in the include -->
        <div class="column last margin-bottom10"> <!-- closed in the include -->
			{% include 'includes/eos_listings_details_make_offer.html' %}
</div>            
{% endif %} 
<!-- // MAKE AN OFFER --> 

<!-- PROPERTY FINANCE -->
{% if show_calculators %}
<div class="column last span-887 margin-top30">
    <div class="column last headings">PROPERTY FINANCE</div>        
    <div id="property-finance" class="column last property-finance-bg print-hide">
       {% include 'includes/eos_listings_details_calculators.html' %}
    </div>
</div>    
{% endif %}
<!-- // PROPERTY FINANCE -->

<!-- ON SHOW -->
{% if listing.on_show %}
<div class="column last span-887 margin-top30">
    <div class="column last headings">ON SHOW</div>        
    <div id="on-show" class="column last on-show-bg print-hide">
        {% include 'includes/eos_listings_details_on_show.html' %}
    </div>
</div>    
{% endif %}
<!-- // ON SHOW -->

<!-- BOOKING ENQUIRIES / APPOINTMENT TO VIEW -->
<div class="columnRight width460 margin-top30 margin-bottom30">
    <div class="column last headings">MAKE AN ENQUIRY</div>        
    <div class="columnRight margin-top20 appointment-bg print-hide">
        <form name="enquiry_form" id="id_enquiry_form" method="post" action="#id_enquiry_form">
            {% include 'includes/eos_listings_details_appointment_bookings.html' %}
        </form>
    </div>
</div>    
<!-- // BOOKING ENQUIRIES / APPOINTMENT TO VIEW -->

<!-- CONTACT THE AGENT -->
<div class="column last width377 margin-top30 margin-bottom30">
    <div class="column last headings">CONTACT THE AGENT</div>        
    <div class="column contact-bg print-hide last">
        {% include 'includes/eos_listings_details_contact_agent.html' %}
    </div>
</div>    
<!-- // CONTACT THE AGENT -->



<div class="column font-size11 border-top1 span-22 print-hide last"> {% include 'includes/eos_listings_details_navigation.html' %} </div>
<div class="column margin-top10 print-hide last span-22">
    <p class="font-size11 breadcrumbs-light"><b>Disclaimer:</b> While every effort will be made to ensure that the information contained within the {{ site_url }} website is accurate and up to date, {{ site_name }} makes no warranty, representation or undertaking whether expressed or implied, nor do we assume any legal liability, whether direct or indirect, or responsibility for the accuracy, completeness, or usefulness of any information. Prospective purchasers and tenants should make their own enquiries to verify the information contained herein.</p>
</div>

{% endblock comm-to-let %}