{% load image_tags string_filters %}
<div id="news-summary-{{article.id}}" class="grid_8 content-block first last border-box margin-bottom20 article-list-item">
  {% if article.photo %}
  <div class="news-summary-image two-fifths first last pull-left">
    <a href="/news/{{ article.slug }}/">
      <div class="centered">
        <img src="{% if article.photo %}{% get_image_url 'news' 640 480 article.photo %}{% else %}/eos/img/property-search/results/no-img.jpg{% endif %}" />
      </div>
    </a>
  </div>
  {% endif %}
  <div class="news-summary-content {% if article.photo %}three-fifths{% else %}full{% endif %} pull-left">
    <h3 class="sub-headings"><a href="/news/{{ article.slug }}" class="news-heading-link" >{{ article.title }}</a></h3>
    <div id="news-summary-article-content">
      <p>{{ article.summary|safe }}</p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

{% comment %}
// This goes in index.html
<div class="container_12 margin-top30 margin-bottom30">
  <div class="grid_8">
  {% get_latest_articles 2 %}
  {% if featured_articles %}
    <div class="featured-articles-1">
      <div class="slider">
      {% for article in featured_articles %}
        {% include "includes/single-news-article-slider-grid_8.html" %}
      {% endfor %}
      </div>
      <div class="slider-navigation">
      </div>
    </div>
  {% endif %}
  </div>
  <div class="grid_4">
  </div>
</div>

// This goes in block footer-js in index.html
<script type="text/javascript" src="/static/externals/caroufredsel/jquery.carouFredSel.6.2.1.min.js"></script>
<script type="text/javascript">
  $(".featured-articles-1 ").each(function(){
    pagination = $(this).find(".slider-navigation")
    slider = $(this).find(".slider");
    slider.carouFredSel({
      auto: {
        play: true,
        timeoutDuration: Math.floor(Math.random() * 5000) + 4000
      },
      width: '100%',
        items: {
        visible: 1,
        filter: ".home-featured-property"
      },
      infinite: true,
      circular: true,
      scroll: {
        fx: "fade",
        items: 1,
        easing: "linear",
        duration: 500
      },
      pagination: {
        container: pagination,
        anchorBuilder: function(nr) {
          return '<a href="#" class="clicker"></a>';
        }
      }
    });
  });
</script>

// This goes in custom.less
<style type="text/css">
  .featured-articles-1 {
    position: relative;
    overflow: hidden;
    .news-summary-image{
      position: relative;
      width: 300px;
      height: 260px;
      float: left;
      overflow: hidden;
      img{
        max-width: 120%;
      }
    }
    .news-summary-content{
      width: 250px;
      max-height: 230px;
      margin-left: 20px;
    }
    .slider-navigation{
      position: absolute;
      bottom: 38px;
      width: 250px;
      left: 340px;
      display: inline-block;
      text-align: center;
      .clicker{
        width: 20px;
        height: 4px;
        display: inline-block;
        margin: 3px;
        background: #d6d6d6;
        &.selected{
          background: @PrimaryColor;
        }
      }
    }
    // If you need circles instead of lines, add the class "circle-nav" to featured-articles-1
    &.circle-nav{
      .slider-navigation{
        .clicker{
          width: 16px;
          height: 16px;
          .border-radius(16px);
        }
      }
    }
  }
</style>
{% endcomment %}
