{% load new_development_helpers humanize property_cart image_tags %}
{% for listing in featured %}
  {% if listing %}
  <div class="home-featured-property content-block border-box grid_6">
    <a href="{{ listing.get_absolute_url }}" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;"></a>
    <div class="property-image-thumb">
      {% if listing.featured %}<div class="transparent-red top-left">
        FEATURED
      </div>{% endif %}
      {% if listing.is_new or listing.is_sold or listing.is_rented %}
          {% if listing.featured %}RENTED{% endif %}
        <div class="transparent-black top-left">
          {% if listing.is_new %}NEW{% endif %}
          {% if listing.is_sold %}SOLD{% endif %}
          {% if listing.is_rented %}RENTED{% endif %}
        </div>
      {% endif %}
      <div class="centered">
        <img src="{% if listing.imagegallery_set.values.0.image %}{% get_image_url 'listings' 640 480 listing.imagegallery_set.values.0.image %}{% else %}/static/img/property-search/results/no-img.png{% endif %}" />
      </div>
      <div class="transparent-black bottom">
        {% if listing.on_show or listing.bank_reposessed or listing.distressed or listing.sole_mandate or listing.quick_sell_options or listing.public_tender or show_private_seller_icon or listing.student_accommodation %}
        <div class="tags">
        {% if listing.on_show %}<span class="listing-tag on-show-tag">ON SHOW</span>{% endif %}
        {% if listing.bank_reposessed %}<span class="listing-tag bank-repo-tag">BANK REPO</span>{% endif %}
        {% if listing.distressed %}<span class="listing-tag distressed-tag">DISTRESSED</span>{% endif %}
        {% if listing.sole_mandate %}<span class="listing-tag sole-mandate-tag">SOLE MANDATE</span>{% endif %}
        {% if listing.quick_sell_options %}<span class="listing-tag fnb-quicksell-tag">FNB QUICKSELL</span>{% endif %}
        {% if listing.public_tender %}<span class="listing-tag tender-tag">TENDER</span>{% endif %}
        {% if listing.show_private_seller_icon %}<span class="listing-tag private-sale-tag">PRIVATE SALE</span>{% endif %}
        {% if listing.student_accommodation %}<span class="listing-tag student-accommodation-tag">STUDENT ACCOMMODATION</span>{% endif %}
        {% if listing.enable_offers %}<span class="listing-tag accepting-offers-tag">ACCEPTING OFFERS</span>{% endif %}
        </div>
        {% endif %}
        <div class="clear"></div>
        <div class="icons {% if listing.on_show or listing.bank_reposessed or listing.distressed or listing.sole_mandate or listing.quick_sell_options or listing.public_tender or show_private_seller_icon or listing.student_accommodation %}bordered{% endif %}">
          {% if listing.get_photo_count == 1 %}<i class="icon-photos"></i><span>{{listing.get_photo_count}} Photo</span>{% elif listing.get_photo_count > 1%}<i class="icon-photos"></i><span>{{listing.get_photo_count}} Photos</span>{% endif %}
          {% if listing.map_x_position and listing.map_y_position %}<i class="icon-mapped"></i><span>Mapped</span>{% endif %}
          {% if listing.floorplangallery|length > 0 %}<i class="icon-floorplan"></i><span>Plans</span>{% endif %}
          {% if listing.video_id %}<i class="icon-video"></i><span>Video</span>{% endif %}
        </div>
      </div>
    </div>
    <div class="property-description margin-top15">
      <h3 class="property-price-heading headings">{% if not listing.get_main_type == 'NewDevelopment' %}{{ listing.render_price|safe }}{% else %}{{ listing.development_name }}{% endif %}</h3>
      <h4 class="property-marketing-heading clearfix sub-headings margin-top15 " style="margin-bottom: 0 !important;">{{ listing.get_heading }}</h4>
    </div>
  </div>
  {% endif %}
{% endfor %}
