{% load new_development_helpers humanize property_cart image_tags %}
{% for listing in featured %}
  {% if listing %}
<a href="{{ listing.get_absolute_url }}">
  <div class="home-featured-property border-box grid_4">
    <div class="property-image-thumb">
      {% if listing.featured %}<div class="transparent-red top-left">
        FEATURED
      </div>{% endif %}
      {% if listing.is_new or listing.is_sold or listing.is_rented %}
          {% if listing.featured %}RENTED{% endif %}
        <div class="transparent-black top-left">
          {% if listing.is_new %}NEW{% endif %}
          {% if listing.is_sold %}SOLD{% endif %}
          {% if listing.is_rented %}RENTED{% endif %}
        </div>
      {% endif %}
      <div class="centered">
        <img src="{% if listing.imagegallery_set.values.0.image %}{% get_image_url 'listings' 320 240 listing.imagegallery_set.values.0.image %}{% else %}/static/img/property-search/results/no-img.png{% endif %}" />
      </div>
      <div class="transparent-black bottom">
        {% if listing.on_show or listing.bank_reposessed or listing.distressed or listing.sole_mandate or listing.quick_sell_options or listing.public_tender or show_private_seller_icon or listing.student_accommodation %}
        <div class="tags">
        {% if listing.on_show %}<span class="listing-tag on-show-tag">ON SHOW</span>{% endif %}
        {% if listing.bank_reposessed %}<span class="listing-tag bank-repo-tag">BANK REPO</span>{% endif %}
        {% if listing.distressed %}<span class="listing-tag distressed-tag">DISTRESSED</span>{% endif %}
        {% if listing.sole_mandate %}<span class="listing-tag sole-mandate-tag">SOLE MANDATE</span>{% endif %}
        {% if listing.quick_sell_options %}<span class="listing-tag fnb-quicksell-tag">FNB QUICKSELL</span>{% endif %}
        {% if listing.public_tender %}<span class="listing-tag tender-tag">TENDER</span>{% endif %}
        {% if listing.show_private_seller_icon %}<span class="listing-tag private-sale-tag">PRIVATE SALE</span>{% endif %}
        {% if listing.student_accommodation %}<span class="listing-tag student-accommodation-tag">STUDENT ACCOMMODATION</span>{% endif %}
        {% if listing.enable_offers %}<span class="listing-tag accepting-offers-tag">ACCEPTING OFFERS</span>{% endif %}
        </div>
        {% endif %}
        <div class="clear"></div>
        <div class="icons {% if listing.on_show or listing.bank_reposessed or listing.distressed or listing.sole_mandate or listing.quick_sell_options or listing.public_tender or show_private_seller_icon or listing.student_accommodation %}bordered{% endif %}">
          {% if listing.get_photo_count == 1 %}<i class="icon-photos"></i><span>{{listing.get_photo_count}} Photo</span>{% elif listing.get_photo_count > 1%}<i class="icon-photos"></i><span>{{listing.get_photo_count}} Photos</span>{% endif %}
          {% if listing.map_x_position and listing.map_y_position %}<i class="icon-mapped"></i><span>Mapped</span>{% endif %}
          {% if listing.floorplangallery.count > 0 %}<i class="icon-floorplan"></i><span>Plans</span>{% endif %}
          {% if listing.video_id %}<i class="icon-video"></i><span>Video</span>{% endif %}
        </div>
      </div>
    </div>
    <div class="property-description">
      <h3 class="property-price-heading headings">{{ listing.render_price|safe }}</h3>
      <h4 class="property-marketing-heading clearfix sub-headings margin-bottom0">{{ listing.get_heading }}</h4>
    </div>
  </div>
</a>
  {% endif %}
{% endfor %}

<!-- Goes in Index. Change {# to {% -->


{# if featured #}
<!-- <div class="container_12 crystals">
  <div class="margin-top20 margin-bottom20">
    
      <div class="property-nav">
        <a href="#prev" class="slide-prev"></a>
        <a href="#next" class="slide-next"></a>
      </div>
      <div class="carousel featured-properties-3 margin-top30">
          {# include "includes/std-3-featured-properties.html" #}
      </div>
    
    <div class="clear"></div>
  </div>
</div> -->
{# endif #}

{# block footer-js #}
<!-- <script type="text/javascript" src="/static/externals/caroufredsel/jquery.carouFredSel.6.2.1.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    
    $(".carousel").carouFredSel({
      auto: false,
      items: {
        visible: 3,
        filter: ".carousel > a"
      },
      infinite: false,
      circular: false,
      direction: "left",
      scroll: {
        items: 1,
        easing: "linear",
        duration: 300,
      },
      next: ".property-nav .slide-next",
      prev: ".property-nav .slide-prev"
    });
    
  });
</script> -->
{# endblock footer-js #}

<!-- Goes into Custom -->

<!-- 
/* 
** HOMEPAGE - 3 FEATURED ARTICLES
*/
.featured-articles-3{
  .news-summary-image{
    position: relative;
  }
  .news-summary-image a{
    width: 100%;
    height: 200px;
  }
  .date-overlay{
    width: 52px;
    height: 58px;
    background: rgba(0,0,0,0.73);
    color: #ffffff;
    text-align: center;
    padding: 10px;
    position: absolute;
    left: 20px;
    z-index: 10;
  }
  .news-summary-content{
    .content-block;
    padding-top: 15px;
    border-top: 0;
    padding-bottom: 40px;
    .sub-headings{
      height: 38px;
    }
  }
  .news-summary-article-content{
    height: 90px;
  }
  .primary-button{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
/* 
** HOMEPAGE - 3 FEATURED PROPERTIES SLIDER
*/

.property-nav{
  position: absolute;
  top: 50%;
  height: 0;
  display: block;
  width: 100%;
  .slide-prev, .slide-next{
    width: 44px;     // Change this to your image width
    height: 85px;    // Change this to your image Hieght
    display: block;
    position: absolute;
    top: -42px;
    &.disabled{
      display: none !important;
    }
  }
  .slide-prev{
    background: url(/assets/img/custom/slider/assets/prev.png) no-repeat;
    left: -60px;
  }
  .slide-next{
    background: url(/assets/img/custom/slider/assets/next.png) no-repeat;
    right: -60px;
  }
}-->


<!-- / -->