{% load new_development_helpers humanize property_cart image_tags %}
{% for listing in featured %}
  {% if listing %}
  <div id="featured-prop-{{ forloop.counter }}" data-count="{{ forloop.counter }}" class="featured-item clearfix">
    <div class="featured-images">
      <div class="main-image">
        <div class="centered">
          <img data-src="{% if listing.imagegallery_set.values.0.image %}{% get_image_url 'listings' 640 480 listing.imagegallery_set.values.0.image %}{% else %}/static/img/property-search/results/no-img.png{% endif %}" width="480" height="320" />
        </div>
      </div>
      <div class="small-image pull-left">
        <div class="centered">
          <img data-src="{% if listing.imagegallery_set.values.1.image %}{% get_image_url 'listings' 320 240 listing.imagegallery_set.values.1.image %}{% else %}/static/img/property-search/results/no-img.png{% endif %}" width="320" height="240" />
        </div>
      </div>
      <div class="small-image pull-right">
        <div class="centered">
          <img data-src="{% if listing.imagegallery_set.values.2.image %}{% get_image_url 'listings' 320 240 listing.imagegallery_set.values.2.image %}{% else %}/static/img/property-search/results/no-img.png{% endif %}" width="320" height="240" />
        </div>
      </div>
    </div>
    <div class="featured-content">
      <h2 class="main-headings header-bordered" style="line-height: 48px; ; padding: 0;">{{ listing.render_price|safe }}</h2>
      <table id="featured-table" class="line-height15 margin-top20 featured-table" cellpadding="0" cellspacing="0">
        {% ifequal listing.get_main_type 'Residential' %}
        {% ifnotequal listing.property_type_slug 'vacant-land' %}
        <tr>
          <th width="85">Bedrooms</th>
          <td>{{ listing.bedrooms|default:"-"|floatformat }}</td>
        </tr>
        <tr>
          <th>Bathrooms</th>
          <td>{{ listing.bathrooms|default:"-"|floatformat }}</td>
        </tr>
        {% if listing.garages %}
        <tr>
          <th>Garages</th>
          <td>{{ listing.garages|floatformat }}</td>
        </tr>
        {% endif %}
        {% if listing.building_size %}
        <tr>
          <th>Floor Size</th>
          <td>{{ listing.building_size|intcomma }}m&sup2;</td>
        </tr>
        {% endif %}
        {% endifnotequal %}
        {% if listing.land_size %}
        <tr>
          <th width="85">Land Size</th>
          <td>{{ listing.land_size|intcomma }}{{ listing.get_measurement_type }} </td>
        </tr>
        {% endif %}
        {% endifequal %}
        {% ifequal listing.get_main_type 'Commercial' %}
        {%  if listing.gross_monthly_rental %}
        <tr>
          <th width="85">Gross Rental</th>
          <td>{{ currency_symbol }}{{ listing.gross_monthly_rental|intcomma }}</td>
        </tr>
        {% endif %}

        {% if listing.zoning %}
        <tr style="padding-top:3px">
          <th width="105">Zoning</th>
          <td>{{ listing.zoning }}</td>
        </tr>
        {% endif %}
        {% if listing.building_size %}
        <tr>
          <th>Floor Size</th>
          <td>{{ listing.building_size|intcomma }}m&sup2;</td>
        </tr>
        {% endif %}
        {% if listing.land_size %}
        <tr>
          <th>Land Size</th>
          <td>{{ listing.land_size|intcomma }}{{ listing.get_measurement_type }}</td>
        </tr>
        {% endif %}
        {% ifnotequal obj.property_type_slug 'vacant-land' %}
        {% if listing.open_parking_bays %}
        <tr>
          <th>Open Parkings</th>
          <td>{{ listing.open_parking_bays|floatformat }}</td>
        </tr>
        {% endif %}
        {% if listing.covered_parking_bays %}
        <tr>
          <th>Covered Parkings</th>
          <td>{{ listing.covered_parking_bays|floatformat }}</td>
        </tr>
        {% endif %}
        {% endifnotequal %}
        {% endifequal %}
        {% ifequal listing.get_main_type 'Holiday' %}
        <tr>
          <th width="105">Bedrooms</th>
          <td>{{ listing.bedrooms|default:"0.0"|floatformat }}<br></td>
        </tr>
        <tr>
          <th>Sleeps</th>
          <td>{{ listing.sleeps|default:"0.0"|floatformat }}<br></td>
        </tr>
        {% if not listing.poa %}
        <tr>
          <th>Rates From</th>
          <td>{{ currency_symbol }}{{ listing.out_of_season|intcomma }} pn<br></td>
        </tr>
        <tr>
          <th>Rates To</th>
          <td>{{ currency_symbol }}{{ listing.peak_season|intcomma }} pn</td>
        </tr>
        {% else %}
        <tr>
          <th>Rates From</th>
          <td>POA pn<br></td>
        </tr>
        {% endif %}
        {% endifequal %}
      </table>
      {% if listing.description %}
      <div class="featured-description margin-top20">
        <h3 class="sub-headings">{{ listing.get_heading }}</h3>
        {{ listing.description|max_word_limit:"480"|safe  }}
      </div>
      {% endif %}
      <div class="featured-buttons">
        <a class="button primary-button rounded">View Details</a>
      </div>
    </div>
  </div>
{% endif %}
{% endfor %}