{% load new_development_helpers humanize property_cart image_tags %}
{% for listing in featured %}
  {% if listing %}
<a href="{{ listing.get_absolute_url }}">
  <div class="home-featured-property border-box grid_4">
    <div class="property-image-thumb">
      {% if listing.featured %}<div class="transparent-red top-left">
        FEATURED
      </div>{% endif %}
      {% if listing.is_new or listing.is_sold or listing.is_rented %}
          {% if listing.featured %}RENTED{% endif %}
        <div class="transparent-black top-left">
          {% if listing.is_new %}NEW{% endif %}
          {% if listing.is_sold %}SOLD{% endif %}
          {% if listing.is_rented %}RENTED{% endif %}
        </div>
      {% endif %}
      <div class="centered">
        <img src="{% if listing.imagegallery_set.values.0.image %}{% get_image_url 'listings' 640 480 listing.imagegallery_set.values.0.image %}{% else %}/static/img/property-search/results/no-img.png{% endif %}" width="640" height="480" />
      </div>
      <div class="transparent-black bottom">
        {% if listing.on_show or listing.bank_reposessed or listing.distressed or listing.sole_mandate or listing.quick_sell_options or listing.public_tender or show_private_seller_icon or listing.student_accommodation %}
        <div class="tags">
        {% if listing.on_show %}<span class="listing-tag on-show-tag">ON SHOW</span>{% endif %}
        {% if listing.bank_reposessed %}<span class="listing-tag bank-repo-tag">BANK REPO</span>{% endif %}
        {% if listing.distressed %}<span class="listing-tag distressed-tag">DISTRESSED</span>{% endif %}
        {% if listing.sole_mandate %}<span class="listing-tag sole-mandate-tag">SOLE MANDATE</span>{% endif %}
        {% if listing.quick_sell_options %}<span class="listing-tag fnb-quicksell-tag">FNB QUICKSELL</span>{% endif %}
        {% if listing.public_tender %}<span class="listing-tag tender-tag">TENDER</span>{% endif %}
        {% if listing.show_private_seller_icon %}<span class="listing-tag private-sale-tag">PRIVATE SALE</span>{% endif %}
        {% if listing.student_accommodation %}<span class="listing-tag student-accommodation-tag">STUDENT ACCOMMODATION</span>{% endif %}
        {% if listing.enable_offers %}<span class="listing-tag accepting-offers-tag">ACCEPTING OFFERS</span>{% endif %}
        </div>
        {% endif %}
        <div class="clear"></div>
        <div class="icons {% if listing.on_show or listing.bank_reposessed or listing.distressed or listing.sole_mandate or listing.quick_sell_options or listing.public_tender or show_private_seller_icon or listing.student_accommodation %}bordered{% endif %}">
          {% if listing.get_photo_count == 1 %}<i class="icon-photos"></i><span>{{listing.get_photo_count}} Photo</span>{% elif listing.get_photo_count > 1%}<i class="icon-photos"></i><span>{{listing.get_photo_count}} Photos</span>{% endif %}
          {% if listing.map_x_position and listing.map_y_position %}<i class="icon-mapped"></i><span>Mapped</span>{% endif %}
          {% if listing.floorplangallery.count > 0 %}<i class="icon-floorplan"></i><span>Plans</span>{% endif %}
          {% if listing.video_id %}<i class="icon-video"></i><span>Video</span>{% endif %}
        </div>
      </div>
    </div>
    <div class="property-description">
      <h3 class="property-price-heading headings">{{ listing.render_price|safe }}</h3>
      <h4 class="property-marketing-heading clearfix sub-headings margin-bottom0">{{ listing.get_heading }}</h4>
    </div>
  </div>
</a>
  {% endif %}
{% endfor %}

<!-- Goes in Index. Change {# to {% -->


{# if featured #}
<!-- <div class="container_12 crystals">
  <div class="margin-top20 margin-bottom20">
    
      <div class="property-nav">
        <a href="#prev" class="slide-prev"></a>
        <a href="#next" class="slide-next"></a>
      </div>
      <div class="carousel featured-properties-3 margin-top30">
          {# include "includes/std-3-featured-properties.html" #}
      </div>
    
    <div class="clear"></div>
  </div>
</div> -->
{# endif #}

{# block footer-js #}
<!-- <script type="text/javascript" src="/static/externals/caroufredsel/jquery.carouFredSel.6.2.1.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    
    $(".carousel").carouFredSel({
      auto: false,
      items: {
        visible: 3,
        filter: ".carousel > a"
      },
      infinite: false,
      circular: false,
      direction: "left",
      scroll: {
        items: 1,
        easing: "linear",
        duration: 300,
      },
      next: ".property-nav .slide-next",
      prev: ".property-nav .slide-prev"
    });
    
    jQuery('.crystals').parallax("50%", 0.5);
  });
</script> -->
{# endblock footer-js #}


<!-- / -->