{% load latest_news image_tags string_filters new_development_helpers humanize property_cart %}
<div class="testimonials-section">
  <div class="testimonials-container">
    <div class="testimonial-slider">
      {% for testimonial in articles %}
      <div class="testimonial">
        <div class="text">
          {{ testimonial.body|striptags|safe|max_word_limit:"200" }}
          {% if testimonial.body|length > 200 %}<a href="/news/{{ testimonial.slug }}" class="read-more">read more</a>{% endif %}
        </div>
        <div class="author">{{ testimonial.author }}</div>
        <div class="title">{{ testimonial.title }}</div>
      </div>
      {% endfor %}
    </div>
    <div class="testimonial-navigation">
      <div class="testimonial-prev">{% include 'includes/icons/slider-arrow-red.svg' %}</div>
      <div class="testimonial-next">{% include 'includes/icons/slider-arrow-red.svg' %}</div>
    </div>
  </div>
</div>