{% extends 'mobi/eos_mobi_base.html' %}

{% block head %}
<div id="header" class="container-fluid" data-role="header">
  <div class="col-xs-12" align="center">
    <div class="row">
        <div class="col-xs-11" align="center">
          <div class="col-xs-11 col-xs-offset-1" align="center">
            <div class="row">
              <a id="logo" href="/" target="_self"><img src="/assets/mobi/img/layout/logo.svg" class="img-responsive"></a>
            </div>
          </div>
        </div>
      <div id="nav-button" class="col-xs-1 nopadding nav-button" align="right"><a href="#navigation" onclick=""><i class="icon-menu3 menu-open"></i></a></div>
    </div>
  </div>
</div>
{% endblock head %}

{% block mobi-navigation %}
{% include "navigation/mobi_navigation.html" %}
{% endblock %}

{% block mobi-footer-navigation %}
{% include "navigation/mobi_footer_navigation.html" %}
{% endblock %}
