{% extends 'mobi/eos_mobi_base.html' %}
{% load image_tags get_images_by_category %}
{% block head %}
<!-- add 'center' to below for centered logo \\ add 'light' for the light version -->
<div id="header" class="container-fluid" data-role="header">
  <a href="/" style="display: block;"><img src="/static/mobi/img/layout/logo.png" alt="" id="logo"></a>
  <div id="nav-button" class="col-xs-1 nopadding nav-button" align="right"><a href="#navigation" onclick=""><i class="icon-menu3 menu-open"></i></a></div>
</div>
{% if request.path == '/' %}
<!-- search-middle.html \\ search-bottom.html -->
{% include 'mobi/includes/headers/search-middle.html' %}
{% endif %}
{% endblock head %}

{% block mobi-navigation %}
{% include "navigation/mobi_navigation.html" %}
{% endblock %}

{% block mobi-footer-navigation %}
{% include "navigation/mobi_footer_navigation.html" %}
{% endblock %}
