{% extends 'mobi/eos_mobi_index.html' %}
{% load latest_news image_tags get_images_by_category additional_pages string_filters get_article_by_category get_virtual_walkthroughs advanced_listings new_development_helpers humanize property_cart %}
{% block search-nearby %}{% endblock search-nearby %}
{% block body %}
<!-- Start Template Homepage -->
<div class="homepage-profile container-fluid">
  <h1 class="section-heading">{{ website_slogan }}</h1>
  {% get_cms_page 1 %}
  {{ cms_obj.content|safe }}
  <div class="clearfix"></div>
  <div class="button-center margin-top20">
    <a class="primary-button" href="/profile/" style="margin-top: 25px;">Read More</a>
  </div>
</div>
<!-- Featured Properties -->
{% get_featured_properties 'All' 'All' 'Active' 5 %}
{% if featured %}
{% include "includes/featured-properties-mobi.html" %}
{% endif %}
<!-- Virtual Walkthroughs -->
{% get_virtual_walkthroughs 'All' 'All' 'Active' 5 False %}
{% if featured %}
<div class="virtual-walkthroughs container-fluid">
  <h2 class="section-heading">Virtual Walkthroughs</h2>
  <div class="virtual-slider">
    {% for listing in featured %}
    {% if listing.eyespy360 or listing.matterport_id or listing.virtual_tour %}
    <div class="item pull-left">
      <a href="{% if listing.eyespy360 and listing.eyespy360 != '' %}{{ listing.eyespy360|safe }}{% elif listing.matterport_id and listing.matterport_id != '' %}https://my.matterport.com/show/?m={{ listing.matterport_id|safe }}{% elif listing.virtual_tour and listing.virtual_tour != '' %}{{ listing.virtual_tour|safe }}{% endif %}" target="_blank" class="image-section">
        <div class="image" style="background: url('{% if listing.imagegallery_set.values.0.image %}{% get_image_url 'listings' 640 480 listing.imagegallery_set.values.0.image %}{% else %}/static/img/property-search/results/no-img.png{% endif %}') center center;"></div>
        {% include 'includes/icons/play-button.svg' %}
      </a>
      <div class="virtual-content">
        <div class="content-container">
          <div class="price">
            {% if not listing.get_main_type == 'NewDevelopment' %}
            {{ listing.render_price|safe }}
            {% else %}
            {{ listing.development_name }}
            {% endif %}
          </div>
          <div class="heading">
            {{ listing.get_heading }}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="virtual-navigation">
    <div class="virtual-prev">{% include 'includes/icons/slider-arrow-red.svg' %}</div>
    <div class="virtual-next">{% include 'includes/icons/slider-arrow-red.svg' %}</div>
  </div>
  <div class="virtual-dots"></div>
</div>
{% endif %}
<!-- Testimonials -->
{% get_article_by_category 'testimonials' %}
{% if articles %}
{% include 'includes/testimonials.html' %}
{% endif %}
<!-- News -->
{% get_latest_articles 2 %}
{% if featured_articles %}
{% include 'includes/news-articles-mobi.html' %}
{% endif %}
<!-- Content Ads -->
<div class="content-cta">
  <!-- Add 'solid' class to get a solid background -->
  <div class="cta-container">
    <!-- image-cta.html \\ icon-cta.html -->
    {% include 'includes/content-cta/image-cta.html' %}
  </div>
</div>
{% endblock body %}
{% block js %}
<script type="text/javascript">
  {% include 'mobi/includes/mobi-search.html' %}
</script>
<link href="/static/externals/select2-3.5.1/select2.css" rel="stylesheet" />
<script src="/static/externals/select2-3.5.1/select2.js"></script>
<script type="text/javascript" src="/static/mobi/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/slick.css"/>
<script type="text/javascript" src="/static/js/slider.js"></script>
<script type="text/javascript" src="/static/js/forms.js"></script>
<script type="text/javascript" src="/static/mobi/js/jquery.mobile.custom.min.js"></script>
<script src="/static/js/slick.min.js"></script>
<script type="text/javascript" src="/static/js/text-cutter.js"></script>
<script type="text/javascript">

$('.header-slider').slick({
  infinite: true,
  fade: true,
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 8000,
  pauseOnHover: true,
  arrows: false,
  dots: false
});

$('.featured-slider').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,
  arrow: true,
  prevArrow: $('.feat-prev'),
  nextArrow: $('.feat-next'),
  dots: true,
  appendDots: $('.feat-dots'),
  autoplay: true,
  autoplaySpeed: 8000,
  pauseOnHover: true,
  adaptiveHeight: true
});

$('.virtual-slider').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,
  arrow: true,
  prevArrow: $('.virtual-prev'),
  nextArrow: $('.virtual-next'),
  dots: true,
  appendDots: $('.virtual-dots'),
  autoplay: true,
  autoplaySpeed: 8000,
  pauseOnHover: true,
  adaptiveHeight: true
});

$('.article-slider').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,
  arrow: true,
  prevArrow: $('.article-prev'),
  nextArrow: $('.article-next'),
  dots: true,
  appendDots: $('.article-dots'),
  autoplay: true,
  autoplaySpeed: 8000,
  pauseOnHover: true,
  adaptiveHeight: true
});

$('.testimonial-slider').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1,
  arrow: true,
  prevArrow: $('.testimonial-prev'),
  nextArrow: $('.testimonial-next'),
  autoplay: true,
  autoplaySpeed: 8000,
  pauseOnHover: true,
  adaptiveHeight: true,
});

$('.agent-contact .view-button').click(function() {
  $('.agent-contact').toggleClass('active');
  if ($('.agent-contact').hasClass('active')) {
    $(this).text('Hide contact number');
  } else {
    $(this).text('View contact number');
  }
});

</script>
{% endblock js %}
